{% extends 'home/base.html' %}
{% load static %}

{% block content %}

<br>
<div class="heading text-center display-3">
  CodingEasy
</div> <br>

<section class="container mt-3">
  <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
    <h1 class="text-center display-3">Modifiers</h1>
  </div>
</section>
<p class="text-center display-6">
<h3><b><i>C++ allows the char, int, and double data types to have modifiers preceding them. A modifier is used to alter
      the meaning of the base type so that it more precisely fits the needs of various situations.</i></b></h3>
</p>



The data type modifiers are listed here −

<ul>
  <li>signed</li>
  <li>Unsigned</li>
  <li>long</li>
  <li>short</li>
</ul>
<p>The modifiers signed, unsigned, long, and short can be applied to integer base types. In addition, signed and
  unsigned can be applied to char, and long can be applied to double.

  The modifiers signed and unsigned can also be used as prefix to long or short modifiers. For example, unsigned long
  int.

  C++ allows a shorthand notation for declaring unsigned, short, or long integers. You can simply use the word unsigned,
  short, or long, without int. It automatically implies int.
</p>
</div>
</section>
<br><br>

{% endblock content %}

{% block code %}

<div class="container">
  <h3 class="text-center">Give it a try &#128187;</h3>
  <iframe frameborder="0" width="100%" height="500px" src="https://replit.com/@nikhil25803/CodingEasyCpp?lite=true"></iframe>
</div>

{% endblock code %}