{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<br>


<br />
<style>


@media (min-width: 768px) {
.main {
padding-right: 40px;
padding-left: 220px; /* 180 + 40 */
}
}


.sidebar {
position: fixed;
top: 75px;
bottom: 0;
left: 0;
z-index:1;
width: 250px;
display: block;
padding: 20px;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
background-color:blue;
font-color:white;
border-right: 1px solid #eee;
}
</style>



<div class="container-sm">
<div class="row">

<div class="sidebar">


  <div class="col-sm-3 col-md-2 sidebar">



      <h2 ><a href="css.html" class="btn btn-primary btn-lg btn-block" style="color:white;">Introduction</a></h2><br />
      <h2 ><a href="{% url 'css1' %}?data=basic" class="btn btn-primary btn-lg btn-block" style="color:white;">CSS Syntax</a></h2><br />
      <h2><a href="{% url 'css1' %}?data=selectors" class="btn btn-primary btn-lg btn-block" style="color:white;">CSS Selectors</a></h2><br />
      <h2><a href="{% url 'css1' %}?data=function" class="btn btn-primary btn-lg btn-block" style="color:white;">CSS Functions</a></h2><br />
      <h2><a href="{% url 'css1' %}?data=font-family" class="btn btn-primary btn-lg btn-block" style="color:white;">CSS Font Family</a></h2><br />
      <h2><a href="{% url 'css1' %}?data=font-style" class="btn btn-primary btn-lg btn-block" style="color:white;">CSS Font Style</a></h2><br />
      <h2><a href="{% url 'css1' %}?data=align" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">CSS Alignments</a></h2><br/>
      <h2><a href="{% url 'css1' %}?data=color" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">CSS Colors</a></h2><br/>
      <h2><a href="{% url 'css1' %}?data=margins" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">CSS Margins</a></h2><br/>
      <h2><a href="{% url 'css1' %}?data=padding" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">CSS Padding</a></h2><br/>


</div>
</div>
</div>
</div>


<section class="container mt-3">
  <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
    <h1 class="text-center display-3">CSS Alignments</h1>
  </div>
</section>

<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12 main">
      <h3 class="text-center">Center Align Elements</h3>
      <p class="text-center">To horizontally center a block element (like &lt;div&gt;), use <code>margin: auto;</code>
        <br>Setting the width of the element will prevent it from stretching out to the
        edges of its container.
        <br>The element will then take up the specified width, and the remaining space
        will be split equally between the two margins
      </p>

    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <div class="code">
        <pre>
              <code>
                .center
                {<br>
                &nbsp;&nbsp;margin: auto;<br>
                  &nbsp;
                width: 50%;<br>
                  &nbsp;
                border: 3px solid green;<br>&nbsp; padding: 10px;<br>
                }
              </code>
          </pre>
      </div>
    </div>
  </div>
</section>
<br><br>

<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12 main">
      <h3 class="text-center">Center Align Text</h3>
      <p class="text-center">To just center the text inside an element, use <code>text-align: center;</code></p>

    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <div class="code">
        <pre>
            <code>
              .center
              .center {<br>&nbsp; text-align: center;<br>&nbsp; 
                border: 3px solid green;<br>}
            </code>
        </pre>
      </div>
    </div>
  </div>
</section>

<br><br>

<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12 main">
      <h3 class="text-center">Left and Right Align - Using position</h3>
      <p class="text-center">One method for aligning elements is to use <code>position: absolute;</code>:</p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <div class="code">
        <pre>
              <code>
                .right
                  {<br>
                  &nbsp;&nbsp;position: absolute;<br>
                    &nbsp;
                  right: 0px;<br>
                  &nbsp;&nbsp;width: 300px;<br>
                  &nbsp;&nbsp;border: 3px solid #73AD;<br>&nbsp;&nbsp;padding: 10px;<br>
                  }
              </code>
          </pre>
      </div>
    </div>
  </div>
</section>

<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12 main">
      <h3 class="text-center">Left and Right Align - Using float</h3>
      <p class="text-center">Another method for aligning elements is to use the <code>float</code> property:</p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <div class="code">
        <pre>
            <code>
              .right
                {<br>
                &nbsp;&nbsp;float: right;<br>
                  &nbsp;
                width: 300px;<br>
                &nbsp;&nbsp;border: 3px solid #73AD;<br>&nbsp;&nbsp;padding: 10px;<br>
                }
            </code>
        </pre>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
