{% extends 'home/base.html' %}
{% load static %}

{% block content %}


<br />
<style>


@media (min-width: 768px) {
.main {
padding-right: 40px;
padding-left: 220px; /* 180 + 40 */
}
}


.sidebar {
position: fixed;
top: 75px;
bottom: 0;
left: 0;
z-index:1;
width: 250px;
display: block;
padding: 20px;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
background-color:blue;
font-color:white;
border-right: 1px solid #eee;
}
</style>



<div class="container-sm">
<div class="row">

<div class="sidebar">


  <div class="col-sm-3 col-md-2 sidebar">



      <h2 ><a href="javascr.html" class="btn btn-primary btn-lg btn-block" style="color:white;">Introduction</a></h2><br />
      <h2 ><a href="{% url 'js1' %}?data=syntax" class="btn btn-primary btn-lg btn-block" style="color:white;">Syntax</a></h2><br />
      <h2><a href="{% url 'js1' %}?data=operator"style="color:white;">Operators</a></h2><br />
      <h2><a href="{% url 'js1' %}?data=datatype" class="btn btn-primary btn-lg btn-block" style="color:white;">Data Types</a></h2><br />
      <h2><a href="{% url 'js1' %}?data=functions" class="btn btn-primary btn-lg btn-block" style="color:white;">Functions</a></h2><br />
      <h2><a href="{% url 'js1' %}?data=object" class="btn btn-primary btn-lg btn-block" style="color:white;">Objects</a></h2><br />
      <h2><a href="{% url 'js1' %}?data=event" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">Events</a></h2><br/>
      <h2><a href="{% url 'js1' %}?data=string" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">String</a></h2><br/>
      <h2><a href="{% url 'js1' %}?data=number" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">Numbers</a></h2><br/>
      <h2><a href="{% url 'js1' %}?data=math" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">JS Math</a></h2><br/>
      <h2><a href="{% url 'js1' %}?data=condition" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">JS Conditions</a></h2><br/>
      <h2><a href="{% url 'js1' %}?data=error" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">JS Errors</a></h2><br/>



</div>
</div>
</div>
</div>


<br><br>
<section class="container mt-3">
  <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
    <h1 class="display-4">JS Objects</h1>
    <p class="lead">The Object class represents one of JavaScript's data types. It is used to store various keyed
      collections and more complex entities. Objects can be created using the Object() constructor or the object
      initializer / literal syntax.
    </p>
  </div>
</section>
<br><br>

<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12 main">
      <h3 class="text-center">JS Objects</h3>

      <p class="text-center">
        You define (and create) a JavaScript object with an object literal
      </p>

    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <div class="code">
        <pre>
              <code>
                const person = {<br>
                  &nbsp; firstName: &quot;John&quot;,<br>
                  &nbsp; lastName: &quot;Doe&quot;,<br>
                &nbsp;&nbsp;age: 50,<br>
                &nbsp;&nbsp;eyeColor: &quot;blue&quot;<br>
                };
                  </code>
          </pre>
      </div>
    </div>
  </div>
</section>
<br><br>

{% endblock content %}
