{% extends 'home/base.html' %}
{% load static %}
  
{% block content %}


<br />
<style>


@media (min-width: 768px) {
.main {
padding-right: 40px;
padding-left: 220px; /* 180 + 40 */
}
}


.sidebar {
position: fixed;
top: 75px;
bottom: 0;
left: 0;
z-index:1;
width: 255px;
display: block;
padding: 20px;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
background-color:blue;
font-color:white;
border-right: 1px solid #eee;
}
</style>



<div class="container-sm">
<div class="row">

<div class="sidebar">


  <div class="col-sm-3 col-md-2 sidebar">



      <h2 ><a href="django.html" class="btn btn-primary btn-lg btn-block" style="color:white;">Introduction</a></h2><br />
      <h2 ><a href="{% url 'django1' %}?data=basic" class="btn btn-primary btn-lg btn-block" style="color:white;">Basics</a></h2><br />
      <h2><a href="{% url 'django1' %}?data=enviroment" class="btn btn-primary btn-lg btn-block" style="color:white;">Environment</a></h2><br />
      <h2><a href="{% url 'django1' %}?data=project" class="btn btn-primary btn-lg btn-block" style="color:white;">Project</a></h2><br />
      <h2><a href="{% url 'django1' %}?data=view" class="btn btn-primary btn-lg btn-block" style="color:white;">Views</a></h2><br />
      <h2><a href="{% url 'django1' %}?data=url" class="btn btn-primary btn-lg btn-block" style="color:white;">URLs</a></h2><br />
      <h2><a href="{% url 'django1' %}?data=template" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">Template</a></h2><br/>
      <h2><a href="{% url 'django1' %}?data=model" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">Model</a></h2><br/>
      <h2><a href="{% url 'django1' %}?data=auth" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">Authentication</a></h2><br/>

</div>
</div>
</div>
</div>


<br /><br /> 

  <!-- jumbotron -->
  <section class="container mt-3">
    <div class="row">
      <div class="col-sm-12">
        <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
          <h1 class="display-4">What is Django?</h1>
          <p class="lead">
            <b>Django</b> is a high-level Python web framework that encourages rapid development and clean, 
            pragmatic design. Built by experienced developers, it takes care of much of the hassle of web development,
             so you can focus on writing your app without needing to reinvent the wheel. It is free and open source.
          </p>
        </div>
      </div>
    </div>
  </section>
  <br /><br />
  <!-- Code and Text -->
  <section class="container mt-5">
    <div class="row">
       <div class="col-md-6 col-sm-12">
        <h3 class="text-center">More About Django</h3>
            <p>Django was designed to help developers take applications from concept to completion as quickly as possible.</p>
              <p>Django takes security seriously and helps developers avoid many common security mistakes.</p>
              <p>Some of the busiest sites on the web leverage Djangos ability to quickly and flexibly scale.</p>
        </div>
    </div>
  </section>


 

  {% endblock content %}
