{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<br>
<div class="heading text-center display-3">
  CodingEasy
</div> <br>

<section class="container mt-3">
  <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
    <h1 class="text-center display-3">Decision Making</h1>
  </div>
</section>
<br><br>
<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">If Statment</h3>
      <p class="text-center">Use the <code">if</code> statement to specify a block of 
        C++ code to be executed if a condition is <code >true</code>.</p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <div class="code">
        <pre>
                <code>
                      if (20 &gt; 18) {<br>&emsp;&emsp;&emsp;&emsp;cout &lt;&lt; &quot;20 is greater than 18&quot;;<br>&emsp;&emsp;&emsp;&emsp;}
                </code>
            </pre>
      </div>
    </div>
  </div>
</section>


<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Else Statment</h3>
      <p class="text-center">Use the <code>else</code> statement to specify a block of code to be executed if the condition is <code>false</code>.</p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <div class="code">
        <pre>
                <code>
                  int time = 20;<br>&emsp;&emsp;&emsp;if (time &lt; 18) {<br>&nbsp;&emsp;&emsp; cout &lt;&lt; &quot;Good day.&quot;;<br>&emsp;&emsp;&emsp;} else {<br>&emsp;&emsp;&emsp;&nbsp; cout &lt;&lt; &quot;Good evening.&quot;;<br>&emsp;&emsp;}<br>&emsp;&emsp;&emsp;// Outputs &quot;Good evening.&quot;
                  </code>
            </pre>
      </div>
    </div>
  </div>
</section>

<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Switch Statment</h3>
      <p class="text-center">Use the <code>switch</code> statement to select one of many code blocks to be executed.</p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <div class="code">
        <pre>
                <code>
                  int day = 4;<br>switch (day) {<br>&nbsp;&emsp;&emsp;&emsp; case 1:<br>&nbsp;&nbsp;&nbsp;cout &lt;&lt; &quot;Monday&quot;;<br>&nbsp;&nbsp;&nbsp; break;<br>&nbsp; case 2:<br>&nbsp;&nbsp;&nbsp; cout &lt;&lt; &quot;Tuesday&quot;;<br>&nbsp;&nbsp;&nbsp; break;<br>&nbsp; case 3:<br>&nbsp;&nbsp;&nbsp; cout &lt;&lt; &quot;Wednesday&quot;;<br>&nbsp;&nbsp;&nbsp; break;<br>&nbsp; case 4:<br>&nbsp;&nbsp;&nbsp; cout &lt;&lt; &quot;Thursday&quot;;<br>&nbsp;&nbsp;&nbsp; break;<br>&nbsp; case 5:<br>&nbsp;&nbsp;&nbsp; cout &lt;&lt; &quot;Friday&quot;;<br>&nbsp;&nbsp;&nbsp;break;<br>&nbsp; case 6:<br>&nbsp;&nbsp;&nbsp; cout &lt;&lt; &quot;Saturday&quot;;<br>&nbsp;&nbsp;&nbsp;break;<br>&nbsp; case 7:<br>&nbsp;&nbsp;&nbsp; cout &lt;&lt; &quot;Sunday&quot;;<br>&nbsp;&nbsp;&nbsp; break;<br> }<br>// Outputs &quot;Thursday&quot; (day 4)
                  </code>
            </pre>
      </div>
    </div>
  </div>
</section>



{% endblock content %}

{% block code %}

<div class="container">
  <h3 class="text-center">Give it a try &#128187;</h3>
  <iframe frameborder="0" width="100%" height="500px" src="https://replit.com/@nikhil25803/CodingEasyCpp?lite=true"></iframe>
</div>

{% endblock code %}