{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<br>
<div class="heading text-center display-3">
  CodingEasy
</div> <br>

<section class="container mt-3">
  <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
    <h1 class="text-center display-3">Strings</h1>
  </div>
</section>
<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Strings</h3>
      <p class="text-center">Strings are used for storing text.</p>
      <p class="text-center">A <code>string</code> variable contains a collection of characters surrounded by double quotes:</p>
      <p class="text-center">To use strings, you must include an additional header file in the source 
        code, the <code>&lt;string&gt;</code> library:</p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <div class="code">
        <pre>
                <code>
                  // Include the string library
                  #include &lt;string&gt;
                  // Create a string variable<br>
                  string greeting = "CodingEasy";
                  </code>
            </pre>
      </div>
    </div>
  </div>
</section>

<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Access Strings</h3>
<p class="text-center">You can access the characters in a string by referring to its index number 
inside square brackets <code>[]</code>.</p>
<p class="text-center">This example prints the <strong>first character</strong> in 
<strong>myString</strong>:</p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <div class="code">
        <pre>
                <code>
                  string name = &quot;CodingEasy&quot;;
                  cout &lt;&lt; name[0];// Outputs C
            </pre>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block code %}

<div class="container">
  <h3 class="text-center">Give it a try &#128187;</h3>
  <iframe frameborder="0" width="100%" height="500px" src="https://replit.com/@nikhil25803/CodingEasyCpp?lite=true"></iframe>
</div>

{% endblock code %}