{% extends 'home/base.html' %}
{% load static %}

{% block content %}


<br />
<style>


@media (min-width: 768px) {
.main {
padding-right: 40px;
padding-left: 220px; /* 180 + 40 */
}
}


.sidebar {
position: fixed;
top: 75px;
bottom: 0;
left: 0;
z-index:1;
width: 250px;
display: block;
padding: 20px;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
background-color:blue;
font-color:white;
border-right: 1px solid #eee;
}
</style>



<div class="container-sm">
<div class="row">

<div class="sidebar">


  <div class="col-sm-3 col-md-2 sidebar">



      <h2 ><a href="css.html" class="btn btn-primary btn-lg btn-block" style="color:white;">Introduction</a></h2><br />
      <h2 ><a href="{% url 'css1' %}?data=basic" class="btn btn-primary btn-lg btn-block" style="color:white;">CSS Syntax</a></h2><br />
      <h2><a href="{% url 'css1' %}?data=selectors" class="btn btn-primary btn-lg btn-block" style="color:white;">CSS Selectors</a></h2><br />
      <h2><a href="{% url 'css1' %}?data=function" class="btn btn-primary btn-lg btn-block" style="color:white;">CSS Functions</a></h2><br />
      <h2><a href="{% url 'css1' %}?data=font-family" class="btn btn-primary btn-lg btn-block" style="color:white;">CSS Font Family</a></h2><br />
      <h2><a href="{% url 'css1' %}?data=font-style" class="btn btn-primary btn-lg btn-block" style="color:white;">CSS Font Style</a></h2><br />
      <h2><a href="{% url 'css1' %}?data=align" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">CSS Alignments</a></h2><br/>
      <h2><a href="{% url 'css1' %}?data=color" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">CSS Colors</a></h2><br/>
      <h2><a href="{% url 'css1' %}?data=margins" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">CSS Margins</a></h2><br/>
      <h2><a href="{% url 'css1' %}?data=padding" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">CSS Padding</a></h2><br/>


</div>
</div>
</div>
</div>

<section class="container mt-3">
  <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
    <h1 class="text-center display-3">CSS Functions</h1>
  </div>
</section>

<section class="container mt-5">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h3 class="text-center">CSS Functions</h3>
      <p class="text-center">CSS functions are used as a value for various CSS properties.</p>
      <style class="table">
        table,
        th,
        td {
          border: 1px solid black;
        }
      </style>
      <table class="text-center table">
        <tr>
          <th style="width:35%">Function</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>attr()</td>
          <td>Returns the value of an attribute of the selected element </td>
        </tr>
        <tr>
          <td>calc()</td>
          <td>Allows you to perform calculations to determine CSS property values</td>
        </tr>
        <tr>
          <td>gradient()</td>
          <td>Creates a conic gradient</td>
        </tr>
        <tr>
          <td>counter()</td>
          <td>Returns the current value of the named counter</td>
        </tr>
        <tr>
          <td>cubic-bezier()</td>
          <td>Defines a Cubic Bezier curve</td>
        </tr>
        <tr>
          <td>hsl()</td>
          <td>Defines colors using the Hue-Saturation-Lightness model (HSL)</td>
        </tr>
        <tr>
          <td>hsla()</td>
          <td>Defines colors using the Hue-Saturation-Lightness-Alpha model (HSLA)</td>
        </tr>
        <tr>
          <td>linear-gradient()</td>
          <td>Creates a linear gradient</td>
        </tr>
        <tr>
          <td>max()</td>
          <td>Uses the largest value, from a comma-separated list of values, as the
            property value</td>
        </tr>
        <tr>
          <td>min()</td>
          <td>Uses the smallest value, from a comma-separated list of values, as the
            property value</td>
        </tr>
        <tr>
          <td>radial-gradient()</td>
          <td>Creates a radial gradient</td>
        </tr>
        <tr>
          <td>repeating-conic-gradient()</td>
          <td>Repeats a conic gradient</td>
        </tr>
        <tr>
          <td>repeating-linear-gradient()</td>
          <td>Repeats a linear gradient</td>
        </tr>
        <tr>
          <td>repeating-radial-gradient()</td>
          <td>Repeats a radial gradient</td>
        </tr>
        <tr>
          <td>rgb()</td>
          <td>Defines colors using the Red-Green-Blue model (RGB)</td>
        </tr>
        <tr>
          <td>rgba()</td>
          <td>Defines colors using the Red-Green-Blue-Alpha model (RGBA)</td>
        </tr>
        <tr>
          <td>var()</td>
          <td>Inserts the value of a custom property</td>
        </tr>
      </table>
    </div>
  </div>
</section>
<br><br>
{% endblock content %}
