{% extends 'home/base.html' %}
{% load static %}

{% block content %}

<br>

<div class="heading text-center display-3">
  CodingEasy
</div> <br>

<section class="container mt-3">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
        <h1 class="text-center">Table Tags</h1>

      </div>
</section>
<br><br>

<section class="container mt-5">
    <div class="d-flex justify-content-center">
        <div class="embed-responsive embed-responsive-21by9  d-flex align-items-center justify-content-center w-75 p-3 h-75 bg-info">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/DvyJzIiHmek" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</section>

<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">&lt;table&gt;</h3>
      <p>The &lt;table&gt; tag defines an HTML table.

        An HTML table consists of one &lt;table&gt; element and one or more &lt;tr&gt;, &lt;th&gt;, and &lt;td&gt;
        elements.

        The &lt;tr&gt; element defines a table row, the &lt;th&gt; element defines a table header, and the &lt;td&gt;
        element defines a table cell.
      </p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <div class="code">
        <pre>
               <code>
                  &lt;table&gt;
                    &lt;tr&gt;
                      &lt;th&gt;Month&lt;/th&gt;
                      &lt;th&gt;Savings &lt;/th&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                      &lt;td&gt;January &lt;/td&gt;
                      &lt;td&gt;$100 &lt;/td&gt;
                    &lt;/tr&gt;
                  &lt;/table&gt;
               </code>
           </pre>
      </div>
    </div>
  </div>
</section>
<br><br>

<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">&lt;th&gt;</h3>
      <p>The &lt;th&gt; tag defines a header cell in an HTML table.

        An HTML table has two kinds of cells:

        Header cells - contains header information (created with the &lt;th&gt; element)
        Data cells - contains data (created with the &lt;td&gt; element)
        The text in &lt;th&gt; elements are bold and centered by default.

        The text in &lt;td&gt; elements are regular and left-aligned by default.


      </p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <div class="code">
        <pre>
                  <code>
                    &lt;table&gt;
                      &lt;tr&gt;
                        &lt;th&gt;Month&lt;/th&gt;
                        &lt;th&gt;Savings&lt;/th&gt;
                      &lt;/tr&gt;
                      &lt;tr&gt;
                        &lt;td&gt;January&lt;/td&gt;
                        &lt;td&gt;$100&lt;/td&gt;
                      &lt;/tr&gt;
                      &lt;tr&gt;
                        &lt;td&gt;February&lt;/td&gt;
                        &lt;td&gt;$80&lt;/td&gt;
                      &lt;/tr&gt;
                    &lt;/table&gt;
                  </code>
              </pre>
      </div>
    </div>
  </div>
</section>
<br><br>

<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">&lt;tr&gt;</h3>
      <p>The &lt;tr&gt; tag defines a row in an HTML table.

        A &lt;tr&gt; element contains one or more &lt;th&gt; or &lt;td&gt; elements.
      </p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <div class="code">
        <pre>
                     <code>
                       &lt;table&gt;
                        &lt;tr&gt;
                          &lt;th&gt;Month&lt;/th&gt;
                          &lt;th&gt;Savings&lt;/th&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                          &lt;td&gt;January&lt;/td&gt;
                          &lt;td&gt;$100&lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                          &lt;td&gt;February&lt;/td&gt;
                          &lt;td&gt;$80&lt;/td&gt;
                        &lt;/tr&gt;
                       &lt;/table&gt;
                     </code>
                 </pre>
      </div>
    </div>
  </div>
</section>
<br><br>

<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">&lt;td&gt;</h3>
      <p>The &lt;td&gt; tag defines a standard data cell in an HTML table.

        An HTML table has two kinds of cells:

        Header cells - contains header information (created with the &lt;th&gt; element)
        Data cells - contains data (created with the &lt;td&gt; element)
        The text in &lt;td&gt; elements are regular and left-aligned by default.

        The text in &lt;th&gt; elements are bold and centered by default.
      </p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <div class="code">
        <pre>
                        <code>
                          &lt;table&gt;
                            &lt;tr&gt;
                              &lt;td&gt;Cell A&lt;/td&gt;
                              &lt;td&gt;Cell B&lt;/td&gt;
                            &lt;/tr&gt;
                            &lt;tr&gt;
                              &lt;td&gt;Cell C&lt;/td&gt;
                              &lt;td&gt;Cell D&lt;/td&gt;
                            &lt;/tr&gt;
                          &lt;/table&gt;
                        </code>
                    </pre>
      </div>
    </div>
  </div>
</section>
<br><br>

<section class="container mt-5">
    <div class="d-flex justify-content-center">
        <div class="embed-responsive embed-responsive-21by9  d-flex align-items-center justify-content-center w-75 p-3 h-75 bg-info">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/X1CbZoJQE7k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</section>

<section class="container mt-5">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="embed-responsive embed-responsive-21by9  d-flex align-items-center justify-content-center w-75 p-3 h-75 bg-info">
               <iframe width="560" height="315" src="https://www.youtube.com/embed/QPzgADBOtTw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="embed-responsive embed-responsive-21by9  d-flex align-items-center justify-content-center w-75 p-3 h-75 bg-info">
               <iframe width="560" height="315" src="https://www.youtube.com/embed/e17fXDj08o0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block code %}

<h3 class="text-center">Give it a try &#128187;</h3>
<iframe frameborder="0" width="100%" height="1500px" src="https://replit.com/@nikhil25803/CodingEasyWeb?lite=true"
  style="margin: 2px;"></iframe>


{% endblock code %}