{% extends 'home/base.html' %}
{% load static %}

{% block content %}


<br />
<style>


@media (min-width: 768px) {
.main {
padding-right: 40px;
padding-left: 220px; /* 180 + 40 */
}
}


.sidebar {
position: fixed;
top: 75px;
bottom: 0;
left: 0;
z-index:1;
width: 250px;
display: block;
padding: 20px;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
background-color:blue;
font-color:white;
border-right: 1px solid #eee;
}
</style>



<div class="container-sm">
<div class="row">

<div class="sidebar">


  <div class="col-sm-3 col-md-2 sidebar">



      <h2 ><a href="python.html" class="btn btn-primary btn-lg btn-block" style="color:white;">Introduction</a></h2><br />
      <h2 ><a href="{% url 'py1' %}?data=basic" class="btn btn-primary btn-lg btn-block" style="color:white;">Basics</a></h2><br />
      <h2><a href="{% url 'py1' %}?data=operator" class="btn btn-primary btn-lg btn-block" style="color:white;">Operators</a></h2><br />
      <h2><a href="{% url 'py1' %}?data=datatype" class="btn btn-primary btn-lg btn-block" style="color:white;">Data Types</a></h2><br />
      <h2><a href="{% url 'py1' %}?data=function" class="btn btn-primary btn-lg btn-block" style="color:white;">Functions</a></h2><br />
      <h2><a href="{% url 'py1' %}?data=condition" class="btn btn-primary btn-lg btn-block" style="color:white;">Conditional Statements</a></h2><br />
      <h2><a href="{% url 'py1' %}?data=loop" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">Loops</a></h2><br/>
      <h2><a href="{% url 'py1' %}?data=file" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">File Handling</a></h2><br/>
      <h2><a href="{% url 'py1' %}?data=regex" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">Python RegEx</a></h2><br/>

</div>
</div>
</div>
</div>


<br /><br />
<!-- jumbotron -->
<section class="container mt-3">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
        <h1 class="display-4">What is Python?</h1>
        <p class="lead">
          <b>Python</b> is a general purpose, dynamic, high-level, and interpreted programming language. It supports
          Object Oriented programming approach to develop applications. It is simple and easy to learn and provides lots
          of high-level data structures.
          Python is easy to learn yet powerful and versatile scripting language, which makes it attractive for
          Application Development.
          <b>Guido Van Rossum</b> is known as the founder of Python programming. It is used in web development, data
          science, creating software prototypes, and so on.
        </p>
      </div>
    </div>
  </div>
</section>
<br /><br />
<!-- Code and Text -->
<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12 main">
      <h3 class="text-center">First Python Program</h3>
      <p class="mt-3">
        Let's create a very simple program called Hello World. A "Hello, World!" is a simple program that
        outputs Hello, World! on the screen. Since it's a very simple program, it's often used to introduce a new
        programming language to beginners.
      </p>
    </div>

    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <div class="code">
        <pre>
           <code>
             print("Hello, World!");
           </code>
          </pre>
      </div>
    </div>
  </div>
</section>

<div class="container sec2">
  <b>Congratulations! </b>You just wrote your first program in Python.
  As you can see, this was a pretty easy task. This is the beauty of the Python programming language.
</div>

{% endblock content %}
