{% extends 'home/base.html' %}
{% load static %}

<style>
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
  }


  .wrapper{
    display: flex;
    position: relative;
  }

  .wrapper .sidebar{
    width: 200px;
    height: 100%;
    background: #4b4276;
    padding: 30px 0px;
    position: fixed;
  }

  .wrapper .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }

  .wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
  }    

  .wrapper .sidebar ul li a{
    color: #bdb8d7;
    display: block;
  }

  .wrapper .sidebar ul li a .fas{
    width: 25px;
  }

  .wrapper .sidebar ul li:hover{
    background-color: #594f8d;
  }
      
  .wrapper .sidebar ul li:hover a{
    color: #000;
  }
  
  .wrapper .sidebar .social_media{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }

  .wrapper .sidebar .social_media a{
    display: block;
    width: 40px;
    background: #594f8d;
    height: 40px;
    line-height: 45px;
    text-align: center;
    margin: 0 5px;
    color: #bdb8d7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .wrapper .main_content{
    width: 100%;
    margin-left: 200px;
  }

  .wrapper .main_content .header{
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
  }

  .wrapper .main_content .info{
    margin: 20px;
    color: #717171;
    line-height: 25px;
  }

  .wrapper .main_content .info div{
    margin-bottom: 20px;
  }

  @media (max-height: 500px){
    .social_media{
      display: none !important;
    }
  }
</style>

{% block loader %}

<div id="preloader">
  <div id="loader"></div>
</div>

<script>
  var loader = document.querySelector("#preloader")
  window.addEventListener("load", vanish);

  function vanish() {
    setInterval(function () {
      loader.classList.add("disappear")
    }, 1000);
  }
</script>

{% endblock loader %}


{% block content %}
<br><br>
<div class="contact-wrapper">
  <div class="container-fluid">
    {% if messages %}
      {% for message in messages %}
          {% if "warning" in message.tags %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
          {%elif "success" in message.tags %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                  {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
          {% endif %}
      {% endfor %}
    {% endif %}
</div>
<!--Carousel-->
<div class="container pt-3">
  <div class="col-md-12">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
          aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'img/1.jpg' %}" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
        <div class="carousel-item">
          <img src=".{% static 'img/2.jpg' %}" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/3.jpg' %}" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/4.jpg' %}" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<!-- /Carousel-->

<!-- About -->
<div class="container-fluid">
  <br />
  <div class="col-md-12">
    <div class="heading text-center display-3">Coding Easy</div>
    <div class="row align align-items-center">
      <div class="icon col-md-6 align-items-center text-center p-5">
        <i class="fas fa-hands-helping fa-10x"></i>
      </div>

      <div class="col-md-6 align-items-center p-5">
        <div class="heading text-center">
          <h3>About Us</h3>
        </div>

        <h5>
          Welcome to "Coding Easy".Here at Coding Easy we are providing you
          a platform to learn as well as evaluate yourself in frontend
          development. All technologies ranging from HTML to Java Script are
          covered.One can watch code with examples and can even get a
          certificate on completion of "Module ending quiz" which as its
          name suggest can be taken at the end of every module(course) and
          if passed within given time range an e-certificate will be issued
          on your name. At Coding Easys, we believe in structured approach
          so you can not enter in a module without completing the
          prerequisite modules. We believe that it will your process. so we
          hope Coding Easy would prove to be a great learning platform for
          you.
        </h5>
      </div>
    </div>
  </div>
</div>
<!-- /About -->
<div class="heading text-center h1">Our Courses</div>
<br />

  <!-- Cards -->
  <div class="container-fluid">
    <div class="row m-3 g-5">

      <div class="col-md-4 text-center d-flex justify-content-center">
        <div class="maincontainer">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="{% static 'img/HTML.png' %}" class="img-fluid" style="width:301px; height:167px"/>
            </div>
            <div class="card-body">
              <h5 class="card-title">HTML</h5>
              <p class="card-text">HYPER TEXT MARKUP LANGUAGE.</p>
              <a href="/html" class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 text-center d-flex justify-content-center">
        <div class="maincontainer">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="{% static 'img/CSS.JPG' %}" class="img-fluid" style="width:301px; height:167px"/>
            </div>
            <div class="card-body">
              <h5 class="card-title">CSS</h5>
              <p class="card-text">CASCADING STYLE SHEETS</p>
              <a href="/css" class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 text-center d-flex justify-content-center">
        <div class="maincontainer">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="{% static 'img/Bootstrap.jpg' %}" class="img-fluid" style="width:301px; height:167px"/>
            </div>
            <div class="card-body">
              <h5 class="card-title">Bootstrap</h5>
              <p class="card-text">Some quick example text to build</p>
              <a href="/bootstrap" class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 text-center d-flex justify-content-center">
        <div class="maincontainer">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="{% static 'img/js.png' %}" class="img-fluid" style="width:301px; height:167px"/>
            </div>
            <div class="card-body">
              <h5 class="card-title">JavaScript</h5>
              <p class="card-text">Javascript (JS) is a scripting languages.</p>
              <a href="/js" class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 text-center d-flex justify-content-center">
        <div class="maincontainer">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="{% static 'img/jQuery.png' %}" class="img-fluid" style="width:301px; height:167px"/>
            </div>
            <div class="card-body">
              <h5 class="card-title">jQuery</h5>
              <p class="card-text">jQuery is a fast than js.
              </p>
              <a href="/jQuery" class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 text-center d-flex justify-content-center">
        <div class="maincontainer">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="{% static 'img/python.JPG' %}" class="img-fluid" style="width:301px; height:167px"/>
            </div>
            <div class="card-body">
              <h5 class="card-title">Python</h5>
              <p class="card-text">Simple, high level programming language.</p>
              <a href="/py" class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 text-center d-flex justify-content-center">
        <div class="maincontainer">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="{% static 'img/cpp.png' %}" class="img-fluid" style="width:301px; height:167px"/>
            </div>
            <div class="card-body">
              <h5 class="card-title">C++</h5>
              <p class="card-text">General purpose programming language.</p>
              <a href="/cpp" class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 text-center d-flex justify-content-center">
        <div class="maincontainer">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="{% static 'img/machine_learning.png' %}" class="img-fluid" style="width:301px; height:167px"/>
            </div>
            <div class="card-body">
              <h5 class="card-title">Machine Learning</h5>
              <p class="card-text">Type of Artificial Intelligence.</p>
              <a href="/ml" class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 text-center d-flex justify-content-center">
        <div class="maincontainer">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="{% static 'img/django.png' %}" class="img-fluid" style="width:301px; height:167px"/>
            </div>
            <div class="card-body">
              <h5 class="card-title">Django</h5>
              <p class="card-text">High Level Python Web Framework.</p>
              <a href="/django" class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 text-center d-flex justify-content-center">
        <div class="maincontainer">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="{% static 'img/git_github.png' %}" class="img-fluid" style="width:301px; height:167px"/>
            </div>
            <div class="card-body">
              <h5 class="card-title">Git and GitHub</h5>
              <p class="card-text">Version Control System.</p>
              <a href="/git" class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 text-center d-flex justify-content-center">
        <div class="maincontainer">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="{% static 'img/c_lang.png' %}" class="img-fluid" style="width:301px; height:167px"/>
            </div>
            <div class="card-body">
              <h5 class="card-title">C Language</h5>
              <p class="card-text">
                C is a powerful programming language.
              </p>
              <a href="/c" class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 text-center d-flex justify-content-center">
        <div class="maincontainer">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="{% static 'img/leetcode.jpg' %}" class="img-fluid" style="width:301px; height:167px"/>
            </div>
            <div class="card-body">
              <h5 class="card-title">LeetCode</h5>
              <p class="card-text">
                Solutions for some problems on LeetCode
              </p>
              <a href="{% url 'LeetCode' %}" class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock content %}