{% extends 'home/base.html' %}
{% load static %}

{% block loader %}

<div id="preloader">
  <div id="loader"></div>
</div>

<script>
  var loader = document.querySelector("#preloader")
  window.addEventListener("load", vanish);

  function vanish() {
    setInterval(function () {
      loader.classList.add("disappear")
    }, 1000);
  }
</script>

{% endblock loader %} 


{% block content %}
<br><br>
<div class="contact-wrapper">
  {% comment %} Messages {% endcomment %}
  <div class="container-fluid">
    {% if messages %}
      {% for message in messages %}
          {% if "warning" in message.tags %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
          {%elif "success" in message.tags %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                  {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
          {% endif %}
      {% endfor %}
    {% endif %}
  </div>
<!--Carousel-->
<div class="container pt-3">
  <div class="col-md-12">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
          aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'img/1.jpg' %}" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
        <div class="carousel-item">
          <img src=".{% static 'img/2.jpg' %}" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/3.jpg' %}" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/4.jpg' %}" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<!-- /Carousel-->

<!-- About -->
<div class="container-fluid">
  <br />
  <div class="col-md-12">
    <div class="heading text-center display-3">Coding Easy</div>
    <div class="row align align-items-center">
      <div class="icon col-md-6 align-items-center text-center p-5">
        <i class="fas fa-hands-helping fa-10x"></i>
      </div>

      <div class="col-md-6 align-items-center p-5">
        <div class="heading text-center">
          <h3>About Us</h3>
        </div>

        <h5>
          Welcome to "Coding Easy".Here at Coding Easy we are providing you
          a platform to learn as well as evaluate yourself in frontend
          development. All technologies ranging from HTML to Java Script are
          covered.One can watch code with examples and can even get a
          certificate on completion of "Module ending quiz" which as its
          name suggest can be taken at the end of every module(course) and
          if passed within given time range an e-certificate will be issued
          on your name. At Coding Easys, we believe in structured approach
          so you can not enter in a module without completing the
          prerequisite modules. We believe that it will your process. so we
          hope Coding Easy would prove to be a great learning platform for
          you.
        </h5>
      </div>
    </div>
  </div>
</div>
<!-- /About -->
<div class="heading text-center h1">Our Courses</div>
<br />

<!-- Cards -->
<div class="container-fluid">
  <div class="row m-3 g-5">

    <div class="col-md-4 text-center d-flex justify-content-center">
      <div class="maincontainer">
          <div class="back">
              <h2>HTML</h2>
              <p>HYPER TEXT MARKUP LANGUAGE</p>
              <a href="/html" class="btn" style="margin-top:230px;">Start Course</a>
            </div>
          <div class="front">
              <div class="image">
              <img src="{% static 'img/HTML.png' %}" style="display:block;width:100%;max-width:304px;" width="304" height="300">
              </div>
          </div>
      </div>
    </div>

    <div class="col-md-4 text-center d-flex justify-content-center">
      <div class="maincontainer">
          <div class="back">
              <h2>CSS</h2>
              <p>CASCADING STYLE SHEETS</p>
              <a href="/css" class="btn" style="margin-top:230px;">Start Course</a>
            </div>
          <div class="front">
              <div class="image">
              <img src="{% static 'img/CSS.JPG' %}" style="display:block;width:100%;max-width:304px;" width="304" height="300">
              </div>
          </div>
      </div>
    </div>

    <div class="col-md-4 text-center d-flex justify-content-center">
      <div class="maincontainer">
          <div class="back">
              <h2>Bootstrap</h2>
              <p>Some quick example text to build</p>
              <a href="/bootstrap" class="btn" style="margin-top:230px;">Start Course</a>
            </div>
          <div class="front">
              <div class="image">
              <img src="{% static 'img/Bootstrap.jpg' %}" style="display:block;width:100%;max-width:304px;" width="304" height="300">
              </div>
          </div>
      </div>
    </div>

    <div class="col-md-4 text-center d-flex justify-content-center">
      <div class="maincontainer">
          <div class="back">
              <h2>JavaScript</h2>
              <p> Some quick example text to build on the card title and make up
                  the bulk of the card's content.
              </p>
              <a href="/js" class="btn" style="margin-top:230px;">Start Course</a>
            </div>
          <div class="front">
              <div class="image">
              <img src="{% static 'img/js.png' %}" style="display:block;width:100%;max-width:304px;" width="304" height="300">
              </div>
          </div>
      </div>
    </div>

    <div class="col-md-4 text-center d-flex justify-content-center">
      <div class="maincontainer">
          <div class="back">
              <h2>jQuery</h2>
              <p> jQuery is a fast, small, and feature-rich JavaScript library.
                  It makes things like HTML document traversal and manipulation,
                  event handling, and animation much simpler.
              </p>
              <a href="/jQuery" class="btn" style="margin-top:230px;">Start Course</a>
            </div>
          <div class="front">
              <div class="image">
              <img src="{% static 'img/jQuery.png' %}" style="display:block;width:100%;max-width:304px;" width="304" height="300">
              </div>
          </div>
      </div>
    </div>

    <div class="col-md-4 text-center d-flex justify-content-center">
      <div class="maincontainer">
          <div class="back">
              <h2>Python</h2>
              <p>Simple, high level, scripting and object-oriented programming language.</p>
              <a href="/py" class="btn" style="margin-top:230px;">Start Course</a>
            </div>
          <div class="front">
              <div class="image">
              <img src="{% static 'img/python.JPG' %}" style="display:block;width:100%;max-width:304px;" width="304" height="300">
              </div>
          </div>
      </div>
    </div>

    <div class="col-md-4 text-center d-flex justify-content-center">
      <div class="maincontainer">
          <div class="back">
              <h2>C++</h2>
              <p>General purpose, object-oriented, middle-level programming language</p>
              <a href="/cpp" class="btn" style="margin-top:230px;">Start Course</a>
            </div>
          <div class="front">
              <div class="image">
              <img src="{% static 'img/cpp.png' %}" style="display:block;width:100%;max-width:304px;" width="304" height="300">
              </div>
          </div>
      </div>
    </div>

    <div class="col-md-4 text-center d-flex justify-content-center">
      <div class="maincontainer">
          <div class="back">
              <h2>Machine Learning</h2>
              <p>Type of artificial intelligence</p>
              <a href="/ml" class="btn" style="margin-top:230px;">Start Course</a>
            </div>
          <div class="front">
              <div class="image">
              <img src="{% static 'img/machine_learning.png' %}" style="display:block;width:100%;max-width:304px;" width="304" height="300">
              </div>
          </div>
      </div>
    </div>

    <div class="col-md-4 text-center d-flex justify-content-center">
      <div class="maincontainer">
          <div class="back">
              <h2>Django</h2>
              <p>High Level Python Web Framework</p>
              <a href="/django" class="btn" style="margin-top:230px;">Start Course</a>
            </div>
          <div class="front">
              <div class="image">
              <img src="{% static 'img/django.png' %}" style="display:block;width:100%;max-width:304px;" width="304" height="300">
              </div>
          </div>
      </div>
    </div>

    <div class="col-md-4 text-center d-flex justify-content-center">
      <div class="maincontainer">
          <div class="back">
              <h2>Git and GitHub</h2>
              <p>Free and Open source Distributed Version Control System</p>
              <a href="/git" class="btn" style="margin-top:230px;">Start Course</a>
            </div>
          <div class="front">
              <div class="image">
              <img src="{% static 'img/git_github.png' %}" style="display:block;width:100%;max-width:304px;" width="304" height="300">
              </div>
          </div>
      </div>
    </div>

    <div class="col-md-4 text-center d-flex justify-content-center">
      <div class="maincontainer">
          <div class="back">
              <h2>C Language</h2>
              <p>
                C is a powerful general-purpose programming language.
                It can be used to develop software like operating
                systems, databases, compilers, and so on.
              </p>
              <a href="/c" class="btn" style="margin-top:230px;">Start Course</a>
            </div>
          <div class="front">
              <div class="image">
              <img src="{% static 'img/c_lang.png' %}" style="display:block;width:100%;max-width:304px;" width="304" height="300">
              </div>
          </div>
      </div>
    </div>

  </div>

</div>
</div>

{% endblock content %}