{% extends 'home/base.html' %}
{% load static %}


{% block content %}

  <br>


<br />
<style>


@media (min-width: 768px) {
.main {
padding-right: 40px;
padding-left: 220px; /* 180 + 40 */
}
}


.sidebar {
position: fixed;
top: 75px;
bottom: 0;
left: 0;
z-index:1;
width: 255px;
display: block;
padding: 20px;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
background-color:blue;
font-color:white;
border-right: 1px solid #eee;
}
</style>



<div class="container-sm">
<div class="row">

<div class="sidebar">


  <div class="col-sm-3 col-md-2 sidebar">



      <h2 ><a href="django.html" class="btn btn-primary btn-lg btn-block" style="color:white;">Introduction</a></h2><br />
      <h2 ><a href="{% url 'django1' %}?data=basic" class="btn btn-primary btn-lg btn-block" style="color:white;">Basics</a></h2><br />
      <h2><a href="{% url 'django1' %}?data=enviroment" class="btn btn-primary btn-lg btn-block" style="color:white;">Environment</a></h2><br />
      <h2><a href="{% url 'django1' %}?data=project" class="btn btn-primary btn-lg btn-block" style="color:white;">Project</a></h2><br />
      <h2><a href="{% url 'django1' %}?data=view" class="btn btn-primary btn-lg btn-block" style="color:white;">Views</a></h2><br />
      <h2><a href="{% url 'django1' %}?data=url" class="btn btn-primary btn-lg btn-block" style="color:white;">URLs</a></h2><br />
      <h2><a href="{% url 'django1' %}?data=template" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">Template</a></h2><br/>
      <h2><a href="{% url 'django1' %}?data=model" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">Model</a></h2><br/>
      <h2><a href="{% url 'django1' %}?data=auth" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">Authentication</a></h2><br/>

</div>
</div>
</div>
</div>

  <section class="container mt-3">
    <div class="row">
      <div class="col-sm-12">
    <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
      <h1 class="text-center">Views</h1>
        <p>A view is a place where we put our business logic of the application. The view is a python 
            function which is used to perform some business logic and return a response to the user. This
             response can be the HTML contents of a Web page, or a redirect, or a 404 error.
            All the view function are created inside the views.py file of the Django app</p>
    </div>
  </section>
  <br><br>
  

  <section class="container mt-5">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h3 class="text-center">Django View Simple Example</h3>
      
           <ul style="list-style: none;">
          <strong><h4>views.py-</h4></strong> 
          <br>
               <li>import datetime</li>
                <li>from django.http import HttpResponse </li>
                <li>def index(request): </li>
                <li>now = datetime.datetime.now()  </li>
                <li>html = "&lt;html&gt;&lt;body&gt;&lt;h3&gt;Now time is %s.&lt;/h3&gt;&lt;/body&gt;&lt;/html&gt;" % now</li>
                <li>return HttpResponse(html)</li>
           </ul>
        </div>
        <p>Let's step through the code.

            First, we will import DateTime library that provides a method to get current date and time and HttpResponse class.
            
            Next, we define a view function index that takes HTTP request and respond back.</p>
            <ul style="list-style: none;"><li>View calls when gets mapped with URL in urls.py. For example</li>
            <li>
                <strong> path('index/', views.index)</strong>
            </li></ul>
    </div>
</section>
<br><br>

<section class="container mt-5">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h3 class="text-center">Returning Errors</h3>
            <p>Django provides various built-in error classes that are the subclass of HttpResponse and use to show 
                error message as HTTP response. Some classes are listed below.</p>

                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col"><strong>Class</strong></th>
                        <th scope="col"><strong>Description</strong></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>class HttpResponseNotModified</td>
                        <td>It is used to designate that a page hasn't been modified since the user's last request (status code 304).</td>
                        
                      </tr>
                      <tr>
                        
                        <td>class HttpResponseBadRequest</td>
                        <td>It acts just like HttpResponse but uses a 400 status code.</td>
                        
                      </tr>
                      <tr>
                        <td>class HttpResponseNotFound</td>
                        <td>It acts just like HttpResponse but uses a 404 status code.</td>  
                      </tr>
                      <tr>
                        <td>class HttpResponseNotAllowed</td>
                        <td>It acts just like HttpResponse but uses a 410 status code.</td>
                      </tr>
                      <tr>
                        <td>HttpResponseServerError</td>
                        <td>It acts just like HttpResponse but uses a 500 status code.</td> 
                      </tr>
                    </tbody>
                  </table>
        </div>
        
    </div>
</section>
<br><br>

<section class="container mt-5">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h3 class="text-center">Django View HTTP Decorators</h3>
            <br>
        <p>HTTP Decorators are used to restrict access to view based on the request method.

            These decorators are listed in django.views.decorators.http and return a django.http.HttpResponseNotAllowed
             if the conditions are not met.</p>
             
           <ul style="list-style: none;">
               <li><strong> Syntax</strong></li>
                <li>require_http_methods(request_method_list)</li>
                
           </ul>
        </div>
        
    </div>
</section>


{% endblock content %} 
