{% extends 'home/base.html' %}
{% load static %}


{% block content %}

  <br>
 

<br />
<style>


@media (min-width: 768px) {
.main {
padding-right: 40px;
padding-left: 220px; /* 180 + 40 */
}
}


.sidebar {
position: fixed;
top: 75px;
bottom: 0;
left: 0;
z-index:1;
width: 255px;
display: block;
padding: 20px;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
background-color:blue;
font-color:white;
border-right: 1px solid #eee;
}
</style>



<div class="container-sm">
<div class="row">

<div class="sidebar">


  <div class="col-sm-3 col-md-2 sidebar">



      <h2 ><a href="django.html" class="btn btn-primary btn-lg btn-block" style="color:white;">Introduction</a></h2><br />
      <h2 ><a href="{% url 'django1' %}?data=basic" class="btn btn-primary btn-lg btn-block" style="color:white;">Basics</a></h2><br />
      <h2><a href="{% url 'django1' %}?data=enviroment" class="btn btn-primary btn-lg btn-block" style="color:white;">Environment</a></h2><br />
      <h2><a href="{% url 'django1' %}?data=project" class="btn btn-primary btn-lg btn-block" style="color:white;">Project</a></h2><br />
      <h2><a href="{% url 'django1' %}?data=view" class="btn btn-primary btn-lg btn-block" style="color:white;">Views</a></h2><br />
      <h2><a href="{% url 'django1' %}?data=url" class="btn btn-primary btn-lg btn-block" style="color:white;">URLs</a></h2><br />
      <h2><a href="{% url 'django1' %}?data=template" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">Template</a></h2><br/>
      <h2><a href="{% url 'django1' %}?data=model" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">Model</a></h2><br/>
      <h2><a href="{% url 'django1' %}?data=auth" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">Authentication</a></h2><br/>

</div>
</div>
</div>
</div>

  <section class="container mt-3">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
      <h1 class="text-center">Enviroment</h1>
      <p>Django development environment consists of installing and setting up Python, 
          Django, and a Database System. </p>
    </div>
  </section>
  <br>
  

  <section class="container mt-5">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h3 class="text-center">Installation</h3>
        
              
              <ul>
              <li><strong>Installating Python</strong> </li>
              <p>You'll need to install Python on your system. Latest Django version requires Python 2.6.5 or higherOtherwise, you can download
                 and install the latest version of Python from the link <a href="http://www.python.org/download" target="_blank">Python</a>

              </p>  
              <li><strong>Installating Django</strong></li>
              <p>Installing Django is very easy, but the steps required for its installation depends on your operating system. Since Python is a platform-independent language, Django has one package that works everywhere regardless of your operating system.
                 You can download the latest version of Django from the link <a href="http://www.djangoproject.com/download" target="_blank">Django</a>
              </p> 
               <li><strong>Database Setup</strong></li>
               <p>Django supports several major database engines and you can set up any of them based on your comfort.</p>
               <ul>
                 <li><a href="http://www.mysql.com/" target="_blank">MySQL</a></li>
                 <li><a href="https://www.postgresql.org/" target="_blank">PostgreSQL</a></li>
                 <li><a href="http://www.sqlite.org/" target="_blank">SQLite 3</a></li> 
                  <li><a href="https://www.oracle.com/" target="_blank">Oracle</a></li> 
                  <li><a href="http://django-mongodb-engine.readthedocs.org" target="_blank">MongoDb</a></li> 
                  <li><a href="http://cloud.google.com/appengine/articles/django-nonrel" target="_blank">GoogleAppEngine Datastore</a></li>
               </ul>
              <br>
              <li><strong>Web Server</strong></li>
              <p>Django comes with a lightweight web server for developing and testing applications. This server is pre-configured to work with Django, and more importantly, it restarts whenever you modify the code.
                 However, Django does support Apache and other popular web servers such as Lighttpd. </p>
              </ul>  
              
        </div>
        </div>
    </div>
</section>
<br><br>

{% endblock content %}
