{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<br />
<div class="heading text-center display-3 codeeasy"><b>CodingEasy</b></div>
<br />

<br /><br />
<!-- jumbotron -->
<section class="container mt-3">
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
                <h1 class="display-4"><b> Git & GitHub</b></h1>
                <p class="lead">
                <ul>
                    <li>Git is a free and open source distributed version control system designed to handle
                    everything
                    from small to very large projects with speed and efficiency.
                    </li>
                    <li>It helps in maintaining the history of the project. It maintains a record of what changes
                    were
                    made to a project, when and by whom.
                    </li>
                    
                    <li>GitHub is an online platform that hosts a git repository.
                    </li>
                    <li>GitHub is a code hosting platform for version control and collaboration. It lets you and
                    others work together on projects from anywhere.
                    </li>
                    <li>GitHub is where over 73 million developers shape the future of software, together. Contribute
                    to the open source community.
                    </li>
                </ul>

                </p>
            </div>
        </div>
    </div>
</section>
<br />



<section class="container mt-5">
<!-- 21:9 aspect ratio -->
<div class="d-flex justify-content-center">
<div class="embed-responsive embed-responsive-21by9  d-flex align-items-center justify-content-center w-75 p-3 h-75 bg-info">
    <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/SdrG9whEZ_w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    feature="player-embedded" allowfullscreen></iframe>
  </div>
</div>
</section>

  



  <!-- 16:9 aspect ratio -->
  <!-- <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="..."></iframe>
  </div> -->
  
  <!-- 4:3 aspect ratio -->
  <!-- <div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" src="..."></iframe>
  </div>
   -->
  <!-- 1:1 aspect ratio -->
  <!-- <div class="embed-responsive embed-responsive-1by1">
    <iframe class="embed-responsive-item" src="..."></iframe>
  </div> -->

<!-- Code and Text -->



<!-- <section class="container mt-5">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h2 class="text-center"> About Git & Github</h2><p class="basicsyntax">
                    
                <p>Git is the free and open source distributed version control system that's responsible for everything GitHub
                    related that happens locally on your computer.</p><br>
                    <h4 class="text-center">INSTALLATION </h4>
            <p>With platform specific installers for Git, GitHub also provides the
            ease of staying up-to-date with the latest releases of the command
            line tool while providing a graphical user interface for day-to-day
            interaction, review, and repository synchronization.<br><br>
            <b>GitHub for Windows</b>&nbsp;&nbsp;
            <a href="https://windows.github.com">https://windows.github.com</a><br>
            <b>GitHub for Mac</b>&nbsp;&nbsp;
            <a href="https://mac.github.com">https://mac.github.com</a><br>
            <b>Git for All Platforms</b>&nbsp;&nbsp;
            <a href="http://git-scm.com">http://git-scm.com</a>
            <br>
            For Linux and Solaris platforms, the latest release is available on
            the official Git web site.
            </p><br>
            <h3>Git Commands</h3>
            <ul>
                <li>git config</li>
                <li>git init</li><br>

                <li>git status</li>
                <li>git add</li>
                <li>git commit</li>
                <li>git push</li><br>

                <li>git log</li>
                <li>git pull</li>
                <li>git clone</li>
                <li>git branch</li><br>
                
                <li>git switch</li>
                <li>git diff</li>
                <li>git reset</li>
                <li>git show</li>
                <li>git merge</li>
                <li>git remote</li>
                <li>git checkout</li>
                <li>git stash</li>
                <br>
            </ul>
        </div>

        <div class="col-md-6 col-sm-12">
            <h3 class="text-center">Examples and Uses<b class="example"></b></h3>
            <div class="code">
                <pre>
           <code>
            // Configure the author name and email address to be used with 
                your commits. Note that Git strips some characters 
                from user.name. Using the '--global' tag makes this the 
                defaut for all commits and repositories.
            <em>git config --global user.name "CodingEasy"
            git config --global user.email CodingEasy@example.com</em>
            <br>
            // Command used to initialize Git's version control system.
                It can be used in any folder with any files.
            <em>git init</em>
            <br>
            // Command used to show the status(tracked, untracked, modified) 
                of the files in the current directory.
            <em>git status</em>
            <br>
            // Add one or more files to staging (index):
                This command gets the modifed/new files ready to be committed.
            <em>git add &lt;filename&gt;
            git add *</em>
            <br>
            // Commit staged changes.
                This command commits the changes in the staging area to the
                repository. This is the final step before pushing the changes to
                the remote repository.
            <em>git commit -m "Commit message"</em>
            <br>
            // Send changes to the master branch of your remote repository:
                Here 'origin' is the remote repository.
                and 'master' is the branch that will be pushed to.
            <em>git push origin master</em>
            <br>
            // Show the history of all commits.
                This command tells you what commits have been made to the
                repository.
            <em>git log</em>
            <br>
            // Create a working copy of a local repository:<br>
            <em>git clone /path/to/repository
            git clone username@host:/path/to/repository</em>
            <br>
            // Pull changes from a remote repository.
                Used incase there were changes in the source repo while 
                you were working on the repository.
            <em>git pull</em>
            <br>
            // When you want to work on new feature, 
                but don't want to commit it to the main branch.
                Make a new branch and start working on it.
            <em>git branch -d {branch-name}</em>
            <br>
        </code>
          </pre>
            </div>
        </div>
    </div>
</section> -->
<div class="container-fluid mb-5 ">
    <div class="row m-3 g-5">
      <div class="col-md-4 text-center d-flex justify-content-center">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Basic</h5>
            <a href="{% url 'git1' %}?data=basic" class="btn">Explore</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center d-flex justify-content-center">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Intermediate</h5>
            <a href="{% url 'git1' %}?data=intermediate" class="btn">Explore</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center d-flex justify-content-center">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Advanced</h5>
            <a href="{% url 'git1' %}?data=advanced" class="btn">Explore</a>
          </div>
        </div>
      </div>
</div>


<!-- /jumbotron -->
{% endblock content %}