{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<br />
<div class="heading text-center display-3 codeeasy"><b>CodingEasy</b></div>
<br />

<br /><br />
<!-- jumbotron -->
<section class="container mt-3">
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
                <h1 class="display-4"><b>What is Git & GitHub</b></h1>
                <p class="lead">
                    <b>Git</b> Git is a free and open source distributed version control system designed to handle
                    everything
                    from small to very large projects with speed and efficiency.
                    <br>
                    <b>Git</b> helps in maintaining the history of the project. It maintains a record of what changes
                    were
                    made to a project, when and by whom.
                    <br>
                    <hr>
                    <b>GitHub</b> is an online platform that hosts a git repository.
                    <br>
                    <b>GitHub</b> is a code hosting platform for version control and collaboration. It lets you and
                    others work together on projects from anywhere.
                    <br>
                    <b>GitHub</b> is where over 73 million developers shape the future of software, together. Contribute
                    to the open source community.


                </p>
            </div>
        </div>
    </div>
</section>
<br /><br />

<!-- Code and Text -->
<section class="container mt-5">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h2 class="text-center"> About Git and Github</h2><p class="basicsyntax">
                    
                <p>Git is the free and open source distributed version control system that's responsible for everything GitHub
                    related that happens locally on your computer.</p><br>
                    <h4>INSTALLATION & GUIS</h4>
            <p>With platform specific installers for Git, GitHub also provides the
            ease of staying up-to-date with the latest releases of the command
            line tool while providing a graphical user interface for day-to-day
            interaction, review, and repository synchronization.
            <h5>GitHub for Windows</h5>
            <a href="https://windows.github.com">https://windows.github.com</a>
            <h5>GitHub for Mac</h5>
            <a href="https://mac.github.com">https://mac.github.com</a><br>
            For Linux and Solaris platforms, the latest release is available on
            the official Git web site.
            Git for All Platforms<br>
            <a href="http://git-scm.com">http://git-scm.com</a></p>
            </p><br>
            <h3>Git Commands</h3>
            <ul>
                <li>git init</li>
                <li>git status</li>
                <li>git add</li>
                <li>git commit</li>
                <li>git log</li>
                <li>git switch</li>
                <li>git branch</li>
                <li>git diff</li>
                <li>git reset</li>
                <li>git show</li>
                <li>git merge</li>
                <li>git remote</li>
                <li>git checkout</li>
                <li>git push</li>
                <li>git pull</li>
                <li>git stash</li>
                <br>
            </ul>
        </div>

        <div class="col-md-6 col-sm-12">
            <h3 class="text-center">Example<b class="example"></b></h3>
            <div class="code">
                <pre>
           <code>
            // Configure the author name and email address to be used with your commits.
            Note that Git strips some characters (for example trailing periods) from user.name.<br>
            git config --global user.name "CodingEasy"
            git config --global user.email CodingEasy@example.com

            <br>
            //Create a working copy of a local repository:<br>
            git clone /path/to/repository
            git clone username@host:/path/to/repository
            <br>

            //List the files you've changed and those you still need to add or commit:
            git status

            <br>
            //Add one or more files to staging (index):
            git add &lt;filename&gt;
            git add *
            <br>

            //Commit changes to head (but not yet to the remote repository):\
            git commit -m "Commit message"

            <br>
            //Send changes to the master branch of your remote repository:
            git push origin master

            <br>
        </code>
          </pre>
            </div>
        </div>
    </div>
</section>



<!-- /jumbotron -->
{% endblock content %}