{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<br />
<div class="heading text-center display-3 codeeasy"><b>CodingEasy</b></div>
<br />

<br /><br />
<!-- jumbotron -->
<section class="container mt-3">
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
                <h1 class="display-4"><b>What is Git & GitHub</b></h1>
                <p class="lead">
                    <b>Git</b> Git is a free and open source distributed version control system designed to handle
                    everything
                    from small to very large projects with speed and efficiency.
                    <br>
                    <b>Git</b> helps in maintaining the history of the project. It maintains a record of what changes
                    were
                    made to a project, when and by whom.
                    <br>
                    <hr>
                    <b>GitHub</b> is an online platform that hosts a git repository.
                    <br>
                    <b>GitHub</b> is a code hosting platform for version control and collaboration. It lets you and
                    others work together on projects from anywhere.
                    <br>
                    <b>GitHub</b> is where over 73 million developers shape the future of software, together. Contribute
                    to the open source community.


                </p>
            </div>
        </div>
    </div>
</section>
<br /><br />

<!-- Code and Text -->
<section class="container mt-5">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h2 class="text-center"> About Git and Github</h2><p class="basicsyntax">
                    
               
        </div>

        <div class="col-md-6 col-sm-12">
            <h3 class="text-center">Example<b class="example"></b></h3>
            <div class="code">
                <pre>
           <code>
            
        </code>
          </pre>
            </div>
        </div>
    </div>
</section>



<!-- /jumbotron -->
{% endblock content %}