{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<br>
  <div class="heading text-center display-3">
    CodingEasy
  </div> <br>
  <section class="container mt-3">
    <div class="row">
      <div class="col-sm-12">
        <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
          <h1 class="text-center">Functions</h1>
          <p class="text-center">A function is a block of code which only runs when it is called.<br>
            You can pass data, known as parameters, into a function.
            <br>A function can return data as a result.
          </p>
        </div>
  </section>
  <br><br>


  <!-- code and text -->

  <section class="container mt-5">
    <div class="row">
      <div class="col-md-6 col-sm-12">

        <h3 class="text-center display-6">Creating a Function</h3>
        <p class="text-center">In Python a function is defined using the <span class="w3-codespan">def</span>
          keyword.</p>

      </div>
      <div class="col-md-6 col-sm-12">
        <h3 class="text-center">Example</h3>

        <div class="code">
          <pre>
              <code>
                def my_function():</code>
                <code>&nbsp;&nbsp; print(&quot;Hello from a function&quot;)
              </code>
            </pre>
        </div>
      </div>
    </div>
  </section>
  <br><br>

  <section class="container mt-5">
    <div class="row">
      <div class="col-md-6 col-sm-12">

        <h3 class="text-center display-6">Calling a Function</h3>
        <p class="text-center">To call a function, use the function name followed by parenthesis.</p>

      </div>
      <div class="col-md-6 col-sm-12">
        <h3 class="text-center">Example</h3>

        <div class="code">
          <pre>
            <code>
              def my_function():</code>
              <code>&nbsp;&nbsp; print(&quot;Hello from a function&quot;)
            </code><br><code>
              <strong>my_function()</strong>
              </code>
            </pre>
        </div>
      </div>
    </div>
  </section>
  <br><br>

  <section class="container mt-5">
    <div class="row">
      <div class="col-md-6 col-sm-12">

        <h3 class="text-center display-6">Arguments</h3>
        <p class="text-center">Arguments are specified after the function name, inside the parentheses.
          You can add as many arguments as you want, just separate them with a comma.</p>

      </div>
      <div class="col-md-6 col-sm-12">
        <h3 class="text-center">Example</h3>

        <div class="code">
          <pre>
              <code>
                def my_function(<strong>fname</strong>):<br>&nbsp; print(fname + &quot; Refsnes&quot;)<br><br>
                my_function(<strong>&quot;Emil&quot;</strong>)<br>my_function(<strong>&quot;Tobias&quot;</strong>)<br>my_function(<strong>&quot;Linus&quot;</strong>)
              </code>
            </pre>
        </div>
      </div>
    </div>
  </section>
  <br><br>

{% endblock content %}

{% block code %}

<div class="container">
  <h3 class="text-center">Give it a try &#128187;</h3>
  <iframe frameborder="0" width="100%" height="500px" src="https://replit.com/@nikhil25803/CodingEasyPython?lite=true"></iframe>
</div>

{% endblock code %}