{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<br>

<div class="heading text-center display-3">
  CodingEasy
</div> <br>

<br><br>
<section class="container mt-3">
  <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
    <h1 class="display-4">JS Events</h1>
    <p class="lead">
      An Event can be something the browser does, or something a user does.
      <br>Here are some examples of HTML events:
    <ul>
      <li>An HTML web page has finished loading</li>
      <li>An HTML input field was changed</li>
      <li>An HTML button was clicked</li>
    </ul>
    </p>
  </div>
</section>


<section class="container mt-5">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="text-center">JS Events</h3><br>
      <style class="table">
        table,
        th,
        td {
          border: 1px solid black;
        }
      </style>
      <table class="text-center table">
        <tr>
          <th>Event</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>onchange</td>
          <td>An HTML element has been changed</td>
        </tr>
        <tr>
          <td>onclick</td>
          <td>The user clicks an HTML element</td>
        </tr>
        <tr>
          <td>onmouseover</td>
          <td>The user moves the mouse over an HTML element</td>
        </tr>
        <tr>
          <td>onmouseout</td>
          <td>The user moves the mouse away from an HTML element</td>
        </tr>
        <tr>
          <td>onkeydown</td>
          <td>The user pushes a keyboard key</td>
        </tr>
        <tr>
          <td>onload</td>
          <td>The browser has finished loading the page</td>
        </tr>
      </table>

    </div>
  </div>
</section>
<br><br>
{% endblock content %}