{% extends 'home/base.html' %}
{% load static %}

{% block content %}


<br />
<style>


@media (min-width: 768px) {
.main {
padding-right: 40px;
padding-left: 220px; /* 180 + 40 */
}
}


.sidebar {
position: fixed;
top: 75px;
bottom: 0;
left: 0;
z-index:1;
width: 250px;
display: block;
padding: 20px;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
background-color:blue;
font-color:white;
border-right: 1px solid #eee;
}
</style>



<div class="container-sm">
<div class="row">

<div class="sidebar">


  <div class="col-sm-3 col-md-2 sidebar">



      <h2 ><a href="javascr.html" class="btn btn-primary btn-lg btn-block" style="color:white;">Introduction</a></h2><br />
      <h2 ><a href="{% url 'js1' %}?data=syntax" class="btn btn-primary btn-lg btn-block" style="color:white;">Syntax</a></h2><br />
      <h2><a href="{% url 'js1' %}?data=operator"style="color:white;">Operators</a></h2><br />
      <h2><a href="{% url 'js1' %}?data=datatype" class="btn btn-primary btn-lg btn-block" style="color:white;">Data Types</a></h2><br />
      <h2><a href="{% url 'js1' %}?data=functions" class="btn btn-primary btn-lg btn-block" style="color:white;">Functions</a></h2><br />
      <h2><a href="{% url 'js1' %}?data=object" class="btn btn-primary btn-lg btn-block" style="color:white;">Objects</a></h2><br />
      <h2><a href="{% url 'js1' %}?data=event" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">Events</a></h2><br/>
      <h2><a href="{% url 'js1' %}?data=string" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">String</a></h2><br/>
      <h2><a href="{% url 'js1' %}?data=number" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">Numbers</a></h2><br/>
      <h2><a href="{% url 'js1' %}?data=math" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">JS Math</a></h2><br/>
      <h2><a href="{% url 'js1' %}?data=condition" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">JS Conditions</a></h2><br/>
      <h2><a href="{% url 'js1' %}?data=error" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">JS Errors</a></h2><br/>



</div>
</div>
</div>
</div>


<br><br>
<section class="container mt-3">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
        <h1 class="text-center display-4">JS Numbers</h1>
        <p class="lead">JavaScript has only one type of number. Numbers can be written with or without decimals.
        </p><br>
        <h3 class="text-center display-6">Example</h3><br>
        <p class="text-center" style="font-size:25px ">let x = 3.14; // A number with decimals<br>
          let y = 3; // A number without decimals</p>
      </div>
    </div>
  </div>
</section>
<br><br>
<section class="container mt-5">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h3 class="text-center" style="font-size: 30px"><b>JavaScript Numbers are Always 64-bit Floating Point</b></h3>
      <br>
      <br>
      <p style="font-size: 25px">Unlike many other programming languages, JavaScript does not define different types
        of numbers, like integers, short, long, floating-point etc.<br>

        JavaScript numbers are always stored as double precision floating point numbers, following the international
        IEEE 754 standard.<br>

        This format stores numbers in 64 bits, where the number (the fraction) is stored in bits 0 to 51, the exponent
        in bits 52 to 62, and the sign in bit 63:</p><br><br>
      <style class="center">
        table,
        th,
        td {
          border: 1px solid black;
        }
      </style>
      <table class="center" style="width: 100%">
        <tr>
          <th class="text-center" style="font-size:25px"><b>Value (aka Fraction/Mantissa)</b></th>
          <th class="text-center" style="font-size:25px"><b>Exponent</b></th>
          <th class="text-center" style="font-size:25px"><b>Sign</b></th>
          <br>
        </tr>
        <tr>
          <td class="text-center" style="font-size:20px"> 52 bits (0 - 51) </td>
          <td class="text-center" style="font-size:20px"> 11 bits (52 - 62) </td>
          <td class="text-center" style="font-size:20px"> 1 bit (63) </td>
        </tr>
      </table><br>
      <br>
      <br>
      <h3 class="text-center" style="font-size: 30px"><b>Precision</b></h3><br>
      <p style="font-size: 25px">Integers (numbers without a period or exponent notation) are accurate up to 15
        digits.</p><br>
      <h4 style="font-size: 30px"><b>Example :</b></h4><br>
      <p style="font-size:22px">let x = 999999999999999; // x will be 999999999999999<br>
        let y = 9999999999999999; // y will be 10000000000000000
      </p><br>
      <p style="font-size:22px">The maximum number of decimals is 17, but floating point arithmetic is not always 100%
        accurate:</p><br>
      <h4 style="font-size: 30px"><b>Example :</b></h4><br>
      <p style="font-size:22px">let x = 0.2 + 0.1; // x will be 0.30000000000000004</p><br><br>
      <h3 class="text-center" style="font-size: 30px"><b>Adding Numbers and Strings</b></h3><br>
      <p style="font-size: 22px">If you add two numbers, the result will be a number:</p><br>
      <h4 style="font-size: 30px"><b>Example :</b></h4><br>
      <p style="font-size: 22px">let x = 10;<br>
        let y = 20;<br>
        let z = x + y; // z will be 30 (a number)
      </p><br>
      <p style="font-size: 22px">If you add two strings, the result will be a string concatenation:
      </p><br>
      <h4 style="font-size: 30px"><b>Example :</b></h4><br>
      <p style="font-size: 22px">let x = "10";<br>
        let y = "20";<br>
        let z = x + y; // z will be 1020 (a string)</p><br><br>
      <h3 class="text-center" style="font-size: 30px"><b>Numeric Strings</b></h3><br>
      <p style="font-size: 25px">JavaScript strings can have numeric content:</p><br>
      <p style="font-size: 22px">let x = 100; // x is a number<br>

        let y = "100"; // y is a string
        <br><br>
        JavaScript will try to convert strings to numbers in all numeric operations:<br>

        This will work:<br><br>
        let x = "100";<br>
        let y = "10";<br>
        let z = x / y; // z will be 10
      </p><br><br>
      <h3 class="text-center" style="font-size: 30px"><b>NaN - Not a Number</b></h3><br>
      <p style="font-size: 22px">NaN is a JavaScript reserved word indicating that a number is not a legal
        number.<br><br>

        Trying to do arithmetic with a non-numeric string will result in NaN (Not a Number):</p><br><br>
      <h4 style="font-size: 30px"><b>Example :</b></h4><br>
      <style class="center">
        table,
        th,
        td {
          border: 1px solid black;
        }
      </style>
      <table class="center" style="width: 100%">
        <tr>
          <td class="text-center" style="font-size:20px"> let x = 100 / "Apple"; // x will be NaN (Not a Number) </td>

        </tr>
      </table>
      <br><br>
      <p style="font-size: 22px"> However, if the string contains a numeric value , the result will be a number:</p>
      <br><br>
      <h4 style="font-size: 30px"><b>Example :</b></h4><br>
      <style class="center">
        table,
        th,
        td {
          border: 1px solid black;
        }
      </style>
      <table class="center" style="width: 100%">
        <tr>
          <td class="text-center" style="font-size:20px"> let x = 100 / "10"; // x will be 10 </td>
        </tr>
      </table>
      <br><br>
      <h3 class="text-center" style="font-size: 30px"><b>Numbers Can be Objects</b></h3><br>
      <p style="font-size: 22px">Normally JavaScript numbers are primitive values created from literals:<br><br>

        let x = 123;<br><br>

        But numbers can also be defined as objects with the keyword new:<br><br>

        let y = new Number(123);</p><br><br>
      <h4 style="font-size: 30px"><b>Example :</b></h4><br>
      <p style="font-size: 22px">let x = 123;<br>
        let y = new Number(123);<br><br>

        // typeof x returns number<br>
        // typeof y returns object</p>
    </div>
  </div>
</section>
<br>
<br>
<br>

{% endblock content %}
