{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<br>
<div class="heading text-center display-3">
  CodingEasy
</div> <br>
<section class="container mt-3">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
        <h1 class="text-center">Basic About Python</h1>

      </div>
</section>
<br><br>


<!-- code and text -->
<section class="container mt-5">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="text-center">What is Python?</h3>

      <p>Python is a popular programming language. It was created by Guido van Rossum,
        and released in 1991.</p>

      <p>It is used for:</p>

      <ul>
        <li>web development (server-side), </li>
        <li>software development, </li>
        <li>mathematics,</li>
        <li>system scripting.</li>
      </ul>

      <h3 class="text-center">What can Python do?</h3>
      <ul>
        <li>Python can be used on a server to create web applications.</li>
        <li>Python can be used alongside software to create workflows.</li>
        <li>Python can connect to database systems. It can also read and modify files.</li>
        <li>Python can be used to handle big data and perform complex mathematics.</li>
        <li>Python can be used for rapid prototyping, or for production-ready software development.</li>
      </ul>

      <h3 class="text-center">Why Python?</h3>
      <ul>
        <li>Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).</li>
        <li>Python has a simple syntax similar to the English language.</li>
        <li>Python has syntax that allows developers to write programs with fewer lines than some other programming
          languages.</li>
        <li>Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means
          that prototyping can be very quick.</li>
        <li>Python can be treated in a procedural way, an object-oriented way or a functional way.</li>
      </ul>

    </div>
  </div>
  </div>
</section>
<br><br>
{% endblock content %}