{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<br>
<div class="heading text-center display-3">
  CodingEasy
</div> <br>

<section class="container mt-3">
  <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
    <h1 class="text-center display-3">Modifiers</h1>
  </div>
</section>
<p class="text-center display-6"><h3><b><i>C allows the char, int, and double data types to have modifiers preceding them. A modifier is used to alter
the meaning of the base type so that it more precisely fits the needs of various situations.</i></b></h3>
</p>

The data type modifiers are listed here −

<ul>
  <li>signed</li>
  <li>Unsigned</li>
  <li>long</li>
  <li>short</li>
</ul>
<p>The amount of memory space to be allocated for a variable is derived by modifiers. Modifiers are prefixed with basic
  data types to modify (either increase or decrease) the amount of storage space allocated to a variable.
</p>
</div>
</section>
<br><br>

{% endblock content %}