{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<br>



<br />
<style>


@media (min-width: 768px) {
.main {
padding-right: 40px;
padding-left: 220px; /* 180 + 40 */
}
}


.sidebar {
position: fixed;
top: 75px;
bottom: 0;
left: 0;
z-index:1;
width: 250px;
display: block;
padding: 20px;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
background-color:blue;
font-color:white;
border-right: 1px solid #eee;
}
</style>



<div class="container-sm">
<div class="row">

<div class="sidebar">


  <div class="col-sm-3 col-md-2 sidebar">



      <h2 ><a href="html.html" class="btn btn-primary btn-lg btn-block" style="color:white;">Introduction</a></h2><br />
      <h2 ><a href="{% url 'html1' %}?data=basic" class="btn btn-primary btn-lg btn-block" style="color:white;">Basic Tags</a></h2><br />
      <h2><a href="{% url 'html1' %}?data=images" class="btn btn-primary btn-lg btn-block" style="color:white;">Images</a></h2><br />
      <h2><a href="{% url 'html1' %}?data=link" class="btn btn-primary btn-lg btn-block" style="color:white;">Links</a></h2><br />
      <h2><a href="{% url 'html1' %}?data=list" class="btn btn-primary btn-lg btn-block" style="color:white;">Lists</a></h2><br />
      <h2><a href="{% url 'html1' %}?data=table" class="btn btn-primary btn-lg btn-block" style="color:white;">Tables</a></h2><br />
      <h2><a href="{% url 'html1' %}?data=style" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">Styles<br /> and Semantics</a></h2><br/>

</div>
</div>
</div>
</div>

<section class="container mt-3">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
        <h1 class="text-center">Image Tags</h1>

      </div>
</section>
<br><br>

<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12 main">
      <h3 class="text-center">&lt;img&gt;</h3>
      <p>The &lt;img&gt; tag is used to embed an image in an HTML page.

        Images are not technically inserted into a web page; images are linked to web pages. The &lt;img&gt; tag
        creates a holding space for the referenced image.

        The &lt;img&gt; tag has two required attributes:

        src - Specifies the path to the image
        alt - Specifies an alternate text for the image, if the image for some reason cannot be displayed</p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <div class="code">
        <pre>
                <code>
                &lt;img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600"&gt;
                </code>
            </pre>
      </div>
    </div>
  </div>
</section>
<br><br>

<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12 main">
      <h3 class="text-center">&lt;canvas&gt;</h3>
      <p>The &lt;canvas&gt; tag is used to draw graphics, on the fly, via scripting (usually JavaScript).

        The &lt;canvas&gt; tag is transparent, and is only a container for graphics, you must use a script to actually
        draw the graphics.

        Any text inside the &lt;canvas&gt; element will be displayed in browsers with JavaScript disabled and in
        browsers that do not support &lt;canvas&gt;</p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <div class="code">
        <pre>
                <code>
                &lt;canvas id="myCanvas"&gt;
                Your browser does not support the canvas tag.
                &lt;/canvas&gt;
                &lt;script&gt;
                var canvas = document.getElementById("myCanvas");
                var ctx = canvas.getContext("2d");
                ctx.fillStyle = "#FF0000";
                ctx.fillRect(0, 0, 80, 80);
                &lt;/script&gt;
                </code>
            </pre>
      </div>
    </div>
  </div>
</section>
<br><br>

<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12 main">
      <h3 class="text-center">&lt;picture&gt;</h3>
      <p>The &lt;picture&gt; tag gives web developers more flexibility in specifying image resources.

        The most common use of the &lt;picture&gt; element will be for art direction in responsive designs. Instead of
        having one image that is scaled up or down based on the viewport width, multiple images can be designed to
        more nicely fill the browser viewport.</p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <div class="code">
        <pre>
                <code>
                  &lt;picture&gt;
                  &lt;source media="(min-width:650px)" srcset="img_pink_flowers.jpg"&gt;
                  &lt;source media="(min-width:465px)" srcset="img_white_flower.jpg"&gt;
                  &lt;img src="img_orange_flowers.jpg" alt="Flowers" style="width:auto;"&gt;
                  &lt;/picture&gt;
                </code>
            </pre>
      </div>
    </div>
</section>
<br><br>

{% endblock content %}
