{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<br>

<div class="heading text-center display-3">
  CodingEasy
</div> <br>

<br><br>
<section class="container mt-3">
  <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
    <h1 class="display-4">JS Classes</h1>
    <p class="lead">JavaScript Classes are templates for JavaScript Objects
    </p>
  </div>
</section>
<br><br>
<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">

      <h3 class="text-center display-6">JavaScript Class Syntax</h3>
      <p class="text-center">Use the keyword <code>class</code> to create a class.
        <br>Always add a method named <code>constructor()</code>
      </p>


    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>

      <div class="code">
        <pre>
              <code>
                class ClassName {<br>
                  &nbsp;  constructor() { ... }<br>
                  }
              </code>
            </pre>
      </div>
    </div>
  </div>
</section>
<br><br>
<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">

      <h3 class="text-center display-6">Class Methods</h3>
      <p class="text-center">Class methods are created with the same syntax as object methods.
        <br>Use the keyword <code>class</code> to create a class.
        <br>Always add a <code>constructor()</code> method.
        <br>Then add any number of methods.
      </p>

    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>

      <div class="code">
        <pre>
              <code>
                class ClassName {<br>
                  &nbsp;  constructor() { ... }<br>
                  &nbsp;&nbsp;method_1() { ... }<br>
                  &nbsp;&nbsp;method_2() { ... }<br>
                  &nbsp;&nbsp;method_3() { ... }<br>
                  }
              </code>
            </pre>
      </div>
    </div>
  </div>
</section>
<br><br>
{% endblock content %}