{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<br>
<div class="heading text-center display-3">
  CodingEasy
</div> <br>

<section class="container mt-3">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
        <h1 class="text-center display-3">CSS Syntax</h1>

        <p class="text-center display-6">A CSS rule consists of a selector and a declaration block.
        </p>
      </div>
    </div>
  </div>
</section>
<br><br>
<!-- Code and Text -->
<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3 class="heading text-center display-4">CSS Syntax </h3><br></br>
      <img class="photo" src="{% static 'img/css_syntax' %}" alt="" srcset=""><br></br>
      <p>The selector points to the HTML element you want to style.<br></br>
        The declaration block contains one or more declarations separated by semicolons.<br></br>
        Each declaration includes a CSS property name and a value, separated by a colon.<br></br>
        Multiple CSS declarations are separated with semicolons, and declaration blocks are surrounded by curly
        braces.

      </p>
    </div>

    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <p>In this example all &lt;p&gt; elements will be center-aligned, with a red text color:</p>
      <div class="code">
        <pre>
       <code>
        p {
          color: red;
          text-align: center;
        }
       </code>
     </pre>
      </div>
      <h3 class="text-center">Example Explained</h3><br></br>
      <ul>
        <li> p is a selector in CSS (it points to the HTML element you want to style: &lt;p&gt;).</li>
        <li> color is a property, and red is the property value</li>
        <li> text-align is a property, and center is the property value</li>
      </ul>
    </div>
  </div>
  </div>
</section><br><br>

<section class="container mt-3">
<div class="d-flex justify-content-center">
<div class="embed-responsive embed-responsive-21by9  d-flex align-items-center justify-content-center w-75 p-3 h-75 bg-info">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/GROsYbXDKjc"
        title="YouTube video player" frameborder="0" allow="accelerometer;
        autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>
</div>
</section><br><br>

{% endblock content %}