{% extends 'home/base.html' %}
{% load static %}

{% block content %}


<br />
<style>


@media (min-width: 768px) {
.main {
padding-right: 40px;
padding-left: 220px; /* 180 + 40 */
}
}


.sidebar {
position: fixed;
top: 75px;
bottom: 0;
left: 0;
z-index:1;
width: 250px;
display: block;
padding: 20px;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
background-color:blue;
font-color:white;
border-right: 1px solid #eee;
}
</style>



<div class="container-sm">
<div class="row">

<div class="sidebar">


  <div class="col-sm-3 col-md-2 sidebar">



      <h2 ><a href="python.html" class="btn btn-primary btn-lg btn-block" style="color:white;">Introduction</a></h2><br />
      <h2 ><a href="{% url 'py1' %}?data=basic" class="btn btn-primary btn-lg btn-block" style="color:white;">Basics</a></h2><br />
      <h2><a href="{% url 'py1' %}?data=operator" class="btn btn-primary btn-lg btn-block" style="color:white;">Operators</a></h2><br />
      <h2><a href="{% url 'py1' %}?data=datatype" class="btn btn-primary btn-lg btn-block" style="color:white;">Data Types</a></h2><br />
      <h2><a href="{% url 'py1' %}?data=function" class="btn btn-primary btn-lg btn-block" style="color:white;">Functions</a></h2><br />
      <h2><a href="{% url 'py1' %}?data=condition" class="btn btn-primary btn-lg btn-block" style="color:white;">Conditional Statements</a></h2><br />
      <h2><a href="{% url 'py1' %}?data=loop" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">Loops</a></h2><br/>
      <h2><a href="{% url 'py1' %}?data=file" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">File Handling</a></h2><br/>
      <h2><a href="{% url 'py1' %}?data=regex" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">Python RegEx</a></h2><br/>

</div>
</div>
</div>
</div>

<section class="container mt-3">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
        <h1 class="text-center">Loops</h1>
        <p class="lead">Python has two primitive loop commands:
        <ul>
          <li><span>while</span> loops</li>
          <li><span>for</span> loops</li>
        </ul>
        </p>
      </div>
</section>
<br><br>


<!-- code and text -->
<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12 main">
      <h3 class="text-center">The while Loop</h3>
      <p class="text-center">With the <span>while</span> loop we can execute a set of statements as long as a condition
        is true.</p>

    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <div class="code">
        <pre>
                <code>
                  i = 1
                  while i < 5:
                  &nbsp;&nbsp;print(i)
                  &nbsp;&nbsp;i += 1
                </code>
            </pre>
      </div>
    </div>
</section>
<br><br>

<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12 main">
      <h3 class="text-center">For Loops</h3>
      <p class="text-center">A <span>for</span> loop is used for iterating over a sequence (that is either a list, a
        tuple,
        a dictionary, a set, or a string).
        This is less like the <span>for</span> keyword in other programming languages, and works more like an iterator
        method as found in other object-orientated programming languages.With the <span>for</span> loop we can execute a
        set of statements, once for each item in a list, tuple, set etc.</p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <div class="code">
        <pre>
                <code>
                  fruits = [&quot;apple&quot;, &quot;banana&quot;, &quot;cherry&quot;]
                  for x in fruits:&nbsp;
                  
                  print(x)
                </code>
            </pre>
      </div>
    </div>
</section>
<br><br>
{% endblock content %}
