{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<br>
<div class="heading text-center display-3">
  CodingEasy
</div> <br>

<section class="container mt-3">
  <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
    <h1 class="text-center display-3">CSS Font Style</h1>

  </div>
</section>
<br><br>
<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">CSS Font Style</h3>
      <p class="text-center">The <code>font-style</code> property is mostly used to specify italic text.</p>
      <p class="text-center">This property has three values:
      <ul>
        <li>normal - The text is shown normally</li>
        <li>italic - The text is shown in italics</li>
        <li>oblique - The text is &quot;leaning&quot;
          (oblique is very similar to italic, but less supported)</li>
      </ul>
      </p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <div class="code">
        <pre>
                <code>
                    p.normal {<br>&nbsp;&nbsp;font-style: normal;<br>}<br>
                    <br>p.italic {<br>&nbsp;&nbsp;font-style: italic;<br>}<br>
                    <br>p.oblique {<br>&nbsp; font-style: oblique;<br>}
                </code>
            </pre>
      </div>
    </div>
  </div>
</section>

<br><br>
{% endblock content %}