{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<br>
<div class="heading text-center display-3">
  CodingEasy
</div> <br>

<section class="container mt-3">
  <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
    <h1 class="text-center display-3">Data Types</h1>
  </div>
</section>
<p class="text-center display-6">
<h2><b><i> A data type specifies the type of data that a variable can store such as integer, floating, character, etc.
    </i></b></h2>
</p>

There are the following data types in C language.
<br>

<b>char</b>: The most basic data type in C. It stores a single character and requires a single byte of memory in almost
all compilers.
<br>
<b> int</b>: As the name suggests, an int variable is used to store an integer.
<br>
<b>float</b>: It is used to store decimal numbers (numbers with floating point value) with single precision.
<br>
<b>double</b>: It is used to store decimal numbers (numbers with floating point value) with double precision.
<br>
</div>
</section>
<br><br>

{% endblock content %}