{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<br>
<div class="heading text-center display-3">
    CodingEasy
</div> <br>
<section class="container mt-3">
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
                <h1 class="text-center">One Hot Encoding</h1>
                <p></p>
                <ul>
                    <li>One hot encoding is a process by which categorical variables are converted into a form that could be provided to ML algorithms to do a better job in prediction.</li>
                </ul>

            </div>
        </div>
    </div>

</section>
<br><br>

<section class="container mt-5">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h3 class="text-center">One Hot Encoding</h3>
            <p>It is a stage that is performed in Data pre-processing. As we know that most of the Machine Learning 
                algorithms cannot perform on label data directly. They require all the input and output variables 
                to be numeric.</p>
            <p>One such way of converting label data to numeric data is One Hot Encoding.
                In case of the variables that are categorical with the absence of ordinal relationaship, interger 
                encoding is not enough. Using the encoding, thus making the model assume a natural ordering between 
                the processes can end up in poor performance or unexpected results.</p>
            <p>Hence, one-hot encoding can be applied for integer representation. The encoded variable is removed 
                and a new binary variable gets assigned for each new integer value. The binary variables, thus created, 
                are also called dummy variables.</p>
            <p>One Hot Encoding can often lead to dummy variable trap. It occurs when occurs when two or more dummy 
                variables created by one-hot encoding are highly correlated. Whenever one variable can be derived 
                from rest if the variables, these variables are said to be multi co-linear. When there is multi 
                co-linearity in dataset, the problem of dummy variable trap arises which can mess up our model. So the 
                simple rule is that we need to drop one of the dummy variables column from our dataset.
            </p>

        </div>
        <div class="col-md-6 col-sm-12">
            <h3 class="text-center">Example</h3>
           <br>
                    <img src="{% static 'img/onehot.png' %}",height=600px, width=600px>
            
           
        </div>
    </div>
</section>
<br><br>


{% endblock content %}
