{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<br>
<div class="heading text-center display-3">
  CodingEasy
</div> <br>

<section class="container mt-3">
  <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
    <h1 class="text-center display-3">Numbers</h1>
  </div>
</section>

<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Numbers</h3>
      <p class="text-center">Normally, when we work with Numbers, we use primitive data types such as int, float and double, etc.</p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <div class="code">
        <pre>
                <code>
                  // Create variables
                  int Num = 5;             // Integer (whole number)
                  float FloatNum = 5.99;   // Floating point number
                  double doubleNum = 5.9999;  // Double point number
                  
                  // Print variables
                  printf("%d\n", myNum);
                  printf("%f\n", myFloatNum);
                  printf("%lf", doubleNum);
                  }
                </code>
            </pre>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
{% block code %}

<div class="container">
  <h3 class="text-center">Give it a try &#128187;</h3>
  <iframe frameborder="0" width="100%" height="500px" src="https://replit.com/@nikhil25803/CodinEasyC?lite=true"></iframe>
</div>

{% endblock code %}