@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
    background-color: antiquewhite;
}
.carousel-item> img{
    height: 70vh;
}
.heading{
    font-family: 'Lobster', cursive;
}
.card> img{
    height: 30vh;
}
.btn{
    color: white !important;
    background-color: teal !important;
}
pre { 
    display: flex;
white-space: pre-line;
word-break: break-word;
}
.photo{
    width: 40vw;
}
@media only screen and (min-device-width: 481px) {
    .code {
      margin-left: 80px;
    }
  }
  @media only screen and (max-device-width: 481px) {
    .photo{
        width: 90vw;
    }
  }
