{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/common.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
  <title>www.codingeasy.com</title>
  <title></title>
</head>

<body>
<!-- Preloader -->
<!-- <div id="preloader">
  <div id="loader"></div>
  </div> -->
<!-- /Preloader  -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <i class="fas fa-hands-helping"></i>
      </a>
      <a class="navbar-brand" href="../../index.html">CodingEasy</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/feature">Features</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/pricing">Pricing</a>
          </li>
      </ul>
      </div>
    </div>
  </nav>

  <br>
  <div class="heading text-center display-3">
    CodingEasy
  </div> <br>
  <section class="container mt-3">
    <div class="row">
      <div class="col-sm-12">
    <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
      <h1 class="text-center">Enviroment</h1>
      <p>Django development environment consists of installing and setting up Python, 
          Django, and a Database System. </p>
    </div>
  </section>
  <br>
  

  <section class="container mt-5">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="text-center">Installation</h3>
        
              
              <ul>
              <li><strong>Installating Python</strong> </li>
              <p>You'll need to install Python on your system. Latest Django version requires Python 2.6.5 or higherOtherwise, you can download
                 and install the latest version of Python from the link <a href="http://www.python.org/download" target="_blank">Python</a>

              </p>  
              <li><strong>Installating Django</strong></li>
              <p>Installing Django is very easy, but the steps required for its installation depends on your operating system. Since Python is a platform-independent language, Django has one package that works everywhere regardless of your operating system.
                 You can download the latest version of Django from the link <a href="http://www.djangoproject.com/download" target="_blank">Django</a>
              </p> 
               <li><strong>Database Setup</strong></li>
               <p>Django supports several major database engines and you can set up any of them based on your comfort.</p>
               <ul>
                 <li><a href="http://www.mysql.com/" target="_blank">MySQL</a></li>
                 <li><a href="https://www.postgresql.org/" target="_blank">PostgreSQL</a></li>
                 <li><a href="http://www.sqlite.org/" target="_blank">SQLite 3</a></li> 
                  <li><a href="https://www.oracle.com/" target="_blank">Oracle</a></li> 
                  <li><a href="http://django-mongodb-engine.readthedocs.org" target="_blank">MongoDb</a></li> 
                  <li><a href="http://cloud.google.com/appengine/articles/django-nonrel" target="_blank">GoogleAppEngine Datastore</a></li>
               </ul>
              <br>
              <li><strong>Web Server</strong></li>
              <p>Django comes with a lightweight web server for developing and testing applications. This server is pre-configured to work with Django, and more importantly, it restarts whenever you modify the code.

                However, Django does support Apache and other popular web servers such as Lighttpd. </p>
              </ul>  
              
        </div>
        </div>
    </div>
</section>
<br><br>


  <footer class="page-footer font-small teal pt-4">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">Contact us</h5>
          <p>codingeasy@gmail.com</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3">

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">Helpline number</h5>
          <p>9876543210</p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="https://mdbootstrap.com/"> CodingEasy</a>
    </div>
    <!-- Copyright -->

  </footer>
  <script src="https://kit.fontawesome.com/16444fe168.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
  </script>
  <script>
    var loader = document.querySelector("#preloader")
    window.addEventListener("load",vanish);
    function vanish(){
      setInterval(function(){
        loader.classList.add("disapper")
     }, 3000);
      
    }
   </script>
</body>

</html>