{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<br>
<div class="heading text-center display-3">
    CodingEasy
</div> <br>
<section class="container mt-3">
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
                <h1 class="text-center">'Topic1'</h1>
                <p></p>
                <ol>
                    <li></li>
                    <li></li>
                </ol>

            </div>
        </div>
    </div>

</section>
<br><br>

<section class="container mt-5">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h3 class="text-center">'Some topic 1'</h3>
            <p>Use the <code>.container</code> class to create a responsive, fixed-width container.</p>
            <p></p>

        </div>
        <div class="col-md-6 col-sm-12">
            <h3 class="text-center">Example</h3>
            <div class="code">
                <pre>
                <code>
                    &lt;div class=&quot;container&quot;&gt;<br>&nbsp; &lt;h1&gt;My First Bootstrap Page&lt;/h1&gt;<br>&nbsp; &lt;p&gt;This is some text.&lt;/p&gt; <br>&lt;/div&gt;
                </code>
            </pre>
            </div>
        </div>
    </div>
</section>
<br><br>

<section class="container mt-5">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h3 class="text-center">'Some Topic 2'</h3>
            <p></p>
        </div>

        <div class="col-md-6 col-sm-12">
            <h3 class="text-center">Example</h3>
            <div class="code">
                <pre>
                <code>
                    
                </code>
            </pre>
            </div>
        </div>
    </div>
</section>
<br><br>

<!-- Feel free to copy paste for more sections -->


<br><br>
{% endblock content %}