{% extends 'home/base.html' %}

{% load static %}

{% block content %}
<br>
<div class="heading text-center display-3">
  CodingEasy
</div> <br>
<section class="container mt-3">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
        <h1 class="text-center">Conditional Statements</h1>
        <p>Decision-making in a programming language is automated using conditional statements, in which Python
          evaluates the code to see if it meets the specified conditions.

          The conditions are evaluated and processed as true or false. If this is found to be true, the program is run
          as needed. If the condition is found to be false, the statement following the If condition is executed.</p>
          <br>
          <h3 class="">Python Conditions</h3>
  <p class="">
    Python supports the usual logical conditions from mathematics:</p>
  <ul>
    <li>Equals: <span>a == b</span></li>
    <li>Not Equals: <span>a != b</span></li>
    <li>Less than: <span>a &lt; b</span></li>
    <li>Less than or equal to: <span>a &lt;= b</span></li>
    <li>Greater than: <span>a &gt; b</span></li>
    <li>Greater than or equal to: <span>a &gt;= b</span></li>
  </ul>
  <p class="">These conditions can be used in several ways, most commonly in "if statements" and loops.
    An "if statement" is written by using the <span>if</span> keyword.</p>
  <p style="font-weight: bold;"> Python has three conditional statements that are used in decision-making:-
    <ol>
      <li>If Statement</li>
      <li>If-Else Statement</li>
      <li>If-Elif-Else Statement</li>
    </ol>
  </p>
      </div>
</section>
<br>


<!-- code and text -->

<section class="container mt-5">
  
  <br>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">If statements</h3>
      <p class="text-center">
        If the condition is true it executes the statements below</p>

    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <div class="code">
        <pre>
                <code>
                  a = 33
                  b = 200
                  if b &gt; a:
                  &nbsp;&nbsp;print("b is greater than a")
                </code>
            </pre>
      </div>
    </div>
</section>
<br><br>


<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Else Statement</h3>
      <p class="text-center">The <span> else</span> keyword catches anything which isn't caught by the preceding
        conditions.</p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <div class="code">
        <pre>
                <code>
                  a = 200
                  b = 33
                  if b > a:
                  &nbsp;&nbsp;print("b is greater than a")
                  elif a == b:
                  &nbsp;&nbsp;print("a and b are equal")
                  else:
                  &nbsp;&nbsp;print("a is greater than b")
                </code>
            </pre>
      </div>
    </div>
</section>
<br><br>

<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Elif Statement</h3>
      <p class="text-center">The <span>elif</span> keyword is pythons way of saying "if the previous conditions were
        not true, then
        try this condition".</p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <div class="code">
        <pre>
                <code>
                  a = 33
                  b = 33
                  if b > a:
                  &nbsp;&nbsp;print("b is greater than a")
                  elif a == b:
                  &nbsp;&nbsp;print("a and b are equal")
                </code>
            </pre>
      </div>
    </div>
</section>
<br><br>

{% endblock content %}

{% block code %}

<div class="container">
  <h3 class="text-center">Give it a try &#128187;</h3>
  <iframe frameborder="0" width="100%" height="500px"
    src="https://replit.com/@nikhil25803/CodingEasyPython?lite=true"></iframe>
</div>

{% endblock code %}