{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<br>
<div class="heading text-center display-3">
  CodingEasy
</div> <br>

<section class="container mt-3">
  <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
    <h1 class="text-center display-3">Loops Types</h1>
    <p class="text-center">Loops can execute a block of code as long as a specified condition is reached.</p>
  </div>
</section>

<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">While Loop</h3>
      <p class="text-center">
        The <code>while</code> loop loops through a block of code as long as a specified condition is <code>true</code>
      </p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <div class="code">
        <pre>
                <code>
                  int i = 0;
                  while (i &lt; 5) {
                    &nbsp; printf(&quot;%d\n&quot;, i);
                    &nbsp;&nbsp;i++;
                }

                </code>
            </pre>
      </div>
    </div>
  </div>
</section>

<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">For Loop</h3>
      <p class="text-center">
        When you know exactly how many times you want to loop through a block of 
        code, use the <code>for</code> loop instead of a <code>while</code> loop
      </p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <div class="code">
        <pre>
                <code>
                  int i;
                  for (i = 0; i &lt; 5; i++) {
                    &nbsp; printf(&quot;%d\n&quot;, i);
                  }<br>

                </code>
            </pre>
      </div>
    </div>
  </div>
</section>


{% endblock content %}

{% block code %}

<div class="container">
  <h3 class="text-center">Give it a try &#128187;</h3>
  <iframe frameborder="0" width="100%" height="500px" src="https://replit.com/@nikhil25803/CodinEasyC?lite=true"></iframe>
</div>

{% endblock code %}