{% extends 'home/base.html' %}
{% load static %}

{%block content %}
<br>

<div class="heading text-center display-3">
  CodingEasy
</div> <br>

<br><br>
<section class="container mt-3">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
        <h1 class="text-center display-4">JS Data Types</h1>
        <p class="lead">JavaScript variables can hold different data types: numbers, strings, objects and more:
        </p><br><br>
        <h4 class="text-center"><b>Example</b></h4><br>
        <p class="text-center"> let length = 16; &nbsp; &nbsp; &nbsp; &nbsp; // Number <br>
          let lastName = "Johnson"; &nbsp; &nbsp; &nbsp; &nbsp; // String <br>
          let x = {firstName:"John", lastName:"Doe"}; &nbsp; &nbsp; &nbsp; &nbsp; // Object
        </p>

      </div>
    </div>
  </div>
</section>
<br><br>
<section class="container mt-5">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="text-center" style="font-size: 30px"><b>The Concept of Data Types</b></h3><br>
      <p style="font-size: 22px">In programming, data types is an important concept.<br>

        To be able to operate on variables, it is important to know something about the type.<br>

        Without data types, a computer cannot safely solve this:</p>
      <style class="center">
        table,
        th,
        td {
          border: 1px solid black;
        }
      </style>
      <table class="center" style="width: 100%">
        <tr>
          <td class="text-center" style="font-size:20px">let &nbsp; x = 16 + &nbsp; "Volvo" ;</td>
        </tr>
      </table><br>
      <br>
      <p style="font-size: 22px">Does it make any sense to add "Volvo" to sixteen? Will it produce an error or will it
        produce a result?<br>

        JavaScript will treat the example above as:</p><br>
      <style class="center">
        table,
        th,
        td {
          border: 1px solid black;
        }
      </style>
      <table class="center" style="width: 100%">
        <tr>
          <td class="text-center" style="font-size:20px">let &nbsp; x = "16" + &nbsp; "Volvo" ;</td>
        </tr>
      </table><br>
      <br>
      <p style="font-size:22px">When adding a number and a string, JavaScript will treat the number as a string.</p>
      <br><Br>
      <p style="font-size: 22px">JavaScript evaluates expressions from left to right. Different sequences can produce
        different results:</p><br>
      <h4 style="font-size: 25px"><b>Javascript :</b></h4><br>
      <style class="center">
        table,
        th,
        td {
          border: 1px solid black;
        }
      </style>
      <table class="center" style="width: 100%">
        <tr>
          <td class="text-center" style="font-size:20px">let &nbsp; x = 16 + &nbsp; 4 + &nbsp; "Volvo" ;</td>
        </tr>
      </table><br>
      <br>
      <h4 style="font-size: 25px"><b>Result :</b>b</h4><br>
      <style class="center">
        table,
        th,
        td {
          border: 1px solid black;
        }
      </style>
      <table class="center" style="width: 100%">
        <tr>
          <td class="text-center" style="font-size:20px">20Volvo </td>
        </tr>
      </table><br>
      <br>
      <h4 style="font-size: 25px"><b>Javascript :</b></h4><br>
      <style class="center">
        table,
        th,
        td {
          border: 1px solid black;
        }
      </style>
      <table class="center" style="width: 100%">
        <tr>
          <td class="text-center" style="font-size:20px">let &nbsp; x = "Volvo" + &nbsp; 4 + &nbsp; 16 ;</td>
        </tr>
      </table><br>
      <br>
      <h4 style="font-size: 25px"><b>Result :</b></h4><br>

      <style class="center">
        table,
        th,
        td {
          border: 1px solid black;
        }
      </style>
      <table class="center" style="width: 100%">
        <tr>
          <td class="text-center" style="font-size:20px">Volvo416 </td>
        </tr>
      </table><br>
      <br>

      <p style="font-size: 22px">In the first example, JavaScript treats 16 and 4 as numbers, until it reaches
        "Volvo".<br>

        In the second example, since the first operand is a string, all operands are treated as strings.<br>
        <br>
      </p><br><br>
      <h4 class="text-center" style="font-size: 30px"><b>JavaScript Types are Dynamic</b></h4><br>
      <p style="font-size: 22px">JavaScript has dynamic types. This means that the same variable can be used to hold
        different data types:</p><br>
      <h4 style="font-size: 25px">Example :</h4><br>
      <p style="font-size: 22px">let x; &nbsp; &nbsp; &nbsp; &nbsp; // Now x is undefined <br>
        x = 5; &nbsp; &nbsp; &nbsp; &nbsp; // Now x is a Number<br>
        x = "John"; &nbsp; &nbsp; &nbsp; &nbsp; // Now x is a String</p><br>
      <br><br><br>

      <h4 class="text-center" style="font-size: 30px"><b>JavaScript Strings</b></h4><br>
      <p style="font-size: 22px"> A string (or a text string) is a series of characters like "John Doe".<br>

        Strings are written with quotes. You can use single or double quotes:</p><br><br>
      <h4 style="font-size: 25px"><b>Example:</b></h4><br>
      <p style="font-size: 22px">let carName1 = "Volvo XC60"; &nbsp; &nbsp;&nbsp;&nbsp; // Using double quotes
        <br> let carName2 = 'Volvo XC60'; &nbsp;&nbsp;&nbsp;&nbsp; // Using single quotes
      </p><br>
    </div>
  </div>
</section>
</div>

{% endblock content %}