{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<br />
<style>


@media (min-width: 768px) {
.main {
padding-right: 40px;
padding-left: 220px; /* 180 + 40 */
}
}


.sidebar {
position: fixed;
top: 75px;
bottom: 0;
left: 0;
z-index:1;
width: 250px;
display: block;
padding: 20px;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
background-color:blue;
font-color:white;
border-right: 1px solid #eee;
}
</style>



<div class="container-sm">
<div class="row">

<div class="sidebar">


  <div class="col-sm-3 col-md-2 sidebar">



      <h2 ><a href="html.html" class="btn btn-primary btn-lg btn-block" style="color:white;">Introduction</a></h2><br />
      <h2 ><a href="{% url 'html1' %}?data=basic" class="btn btn-primary btn-lg btn-block" style="color:white;">Basic Tags</a></h2><br />
      <h2><a href="{% url 'html1' %}?data=images" class="btn btn-primary btn-lg btn-block" style="color:white;">Images</a></h2><br />
      <h2><a href="{% url 'html1' %}?data=link" class="btn btn-primary btn-lg btn-block" style="color:white;">Links</a></h2><br />
      <h2><a href="{% url 'html1' %}?data=list" class="btn btn-primary btn-lg btn-block" style="color:white;">Lists</a></h2><br />
      <h2><a href="{% url 'html1' %}?data=table" class="btn btn-primary btn-lg btn-block" style="color:white;">Tables</a></h2><br />
      <h2><a href="{% url 'html1' %}?data=style" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">Styles<br /> and Semantics</a></h2><br/>

</div>
</div>
</div>
</div>


<br /><br />
<!-- jumbotron -->
<section class="container mt-3">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
        <h1 class="display-4">What is HTML</h1>
        <p class="lead">
          HTML stands for Hyper Text Markup Language HTML is the standard markup
          language for creating Web pages HTML describes the structure of a Web
          page HTML consists of a series of elements HTML elements tell the
          browser how to display the content HTML elements label pieces of
          content such as "this is a heading", "this is a paragraph", "this is a
          link", etc.
        </p>
      </div>
    </div>
  </div>
</section>
<br /><br />
<!-- Code and Text -->
<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12 main">
      <h3 class="text-center">A Simple HTML Document</h3>
      <p>
        The &lt;!DOCTYPE html &gt; declaration defines that this document is
        an HTML5 document The &lt;html&gt; element is the root element of an
        HTML page The &lt;head&gt; element contains meta information about the
        HTML page The &lt;title&gt; element specifies a title for the HTML
        page (which is shown in the browser's title bar or in the page's tab)
        The &lt;body&gt; element defines the document's body, and is a
        container for all the visible contents, such as headings, paragraphs,
        images, hyperlinks, tables, lists, etc. The &lt;h1&gt; element defines
        a large heading The &lt;p&gt; element defines a paragraph
      </p>
    </div>

    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <div class="code">
        <pre>
           <code>
            &lt;!DOCTYPE html &gt;
            &lt;html&gt;
            &lt;head&gt;
            &lt;title&gt;Page Title&lt;title&gt;
            &lt;/head&gt;
            &lt;body&gt;

            &lt;h1&gt;My First Heading&lt;/h1&gt;
            &lt;p&gt;My first paragraph.&lt;/p&gt;

            &lt;/body&gt;
            &lt;/html&gt;
            <button style="width: 172px;height: 39px;font-size: 20px;margin-top:10px;"><a href="{% url 'home-editor' %}">Code Editor💻</a></button>
           </code>
          </pre>
      </div>
    </div>
  </div>
</section>



<!-- /jumbotron -->
{% endblock content %}
