{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<style>
  td{
    font-size: 1.5rem !important;
    padding: 10px !important;
  }
</style>
<br>
<div class="heading text-center display-3">
  CodingEasy
</div> <br>

<section class="container mt-3">
  <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
    <h1 class="text-center display-3">Keywords</h1>
  </div>
</section>

<section class="container text-center mt-3">
  <table style="margin-left: auto; margin-right:auto; font-size:1.5rem;">
    <thead>
      <tr>
        <th colspan="8">
          <p style="text-align:center; font-size:2rem;"><strong>C++ Keyword</strong></p>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>asm</strong></td>
        <td>double</td>
        <td><strong>new</strong></td>
        <td>switch</td>
     
        <td>auto</td>
        <td>else</td>
        <td><strong>operator</strong></td>
        <td><strong>template</strong></td>
      </tr>
      <tr>
        <td>break</td>
        <td>enum</td>
        <td><strong>private</strong></td>
        <td><strong>this</strong></td>
      
        <td>case</td>
        <td>extern</td>
        <td><strong>protected</strong></td>
        <td><strong>throw</strong></td>
      </tr>
      <tr>
        <td><strong>catch</strong></td>
        <td>float</td>
        <td><strong>public</strong></td>
        <td><strong>try</strong></td>
     
        <td>char</td>
        <td>for</td>
        <td>register</td>
        <td>typedef</td>
      </tr>
      <tr>
        <td><strong>class</strong></td>
        <td><strong>friend</strong></td>
        <td>return</td>
        <td>union</td>
     
        <td>const</td>
        <td>goto</td>
        <td>short</td>
        <td>unsigned</td>
      </tr>
      <tr>
        <td>continue</td>
        <td>if</td>
        <td>signed</td>
        <td><strong>virtual</strong></td>
      
        <td>default</td>
        <td><strong>inline</strong></td>
        <td>sizedof</td>
        <td>void</td>
      </tr>
      <tr>
        <td><strong>delete</strong></td>
        <td>int</td>
        <td>static</td>
        <td>volatile&nbsp;</td>
     
        <td>do</td>
        <td>long</td>
        <td>struct</td>
        <td>while&nbsp;</td>
      </tr>
    </tbody>
  </table>
  <br><br>
</section>


{% endblock content %}
{% block code %}

<div class="container">
  <h3 class="text-center">Give it a try &#128187;</h3>
  <iframe frameborder="0" width="100%" height="500px"
    src="https://replit.com/@nikhil25803/CodinEasyC?lite=true"></iframe>
</div>

{% endblock code %}