<!-- Footer -->
<footer class="page-footer font-small teal pt-4">
    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">
                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold">Contact us</h5>
                <p>codingeasy@gmail.com</p>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3" />

            <!-- Grid column -->
            <div class="col-md-6 mb-md-0 mb-3">
                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold">Helpline number</h5>
                <p>9876543210</p>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © 2021 Copyright:
        <a href="https://mdbootstrap.com/"> Coding Easy</a>
    </div>
    <!-- Copyright -->
</footer>