<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">
            <i class="fas fa-hands-helping"></i>
        </a>
        <a class="navbar-brand" href="{% url 'index' %}">Coding Easy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home-feature' %}">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home-pricing' %}">Pricing</a>
                </li>
                {% if user.is_authenticated %}
                
                <li class="nav-item">
                    <a class="text-md-end nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="text-md-end nav-link" href="{% url 'login' %}">Login/Signup</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="text-md-end nav-link" href="{% url 'home-contact' %}">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>