
<style>
    .sidenav {
        height: 70%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 60px;
        left: 50px;
        background-color: #111;
        opacity: .8;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #d20000;
        display: block;
        transition: 0.3s;
        font-weight: bold;
      }
      
      .sidenav a:hover {
        color: #ffffff;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      
      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }

      .dropdown-content .nav-item.nav-link{
          font-size: 15px !important;
      }
      .dropdown-content .nav-item.nav-link:hover{
        color: rgb(255, 0, 0) !important;
        
    }

    .dropdown{
        background-color: #111 !important;
        opacity: .8 !important;
    }
</style>


<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="{% url 'index' %}"  class="nav-item nav-link">
        <i class="fa fa-home fa-m" aria-hidden="true"></i>
        &nbsp; Home
    </a>
    <a href="{% url 'home-feature' %}"  class="nav-item nav-link">
        Features
    </a>
    <a href="{% url 'listtemplates' %}"  class="nav-item nav-link">
        Templates
    </a>			
    <a href="{% url 'home-pricing' %}"  class="nav-item nav-link">
        Pricing
    </a>
    
    <div class="dropdown">
        <a style="font-size:20px; color: #ff0000; letter-spacing: 1px; font-weight: bold;" class="nav-item nav-link"> Courses </a>
        <div class="dropdown-content">
            <a href="/py"  class="nav-item nav-link">Python</a>
            <a href="/html"  class="nav-item nav-link">HTML</a>
            <a href="/css"  class="nav-item nav-link">CSS</a>
            <a href="/bootstrap"  class="nav-item nav-link">Bootstrap</a>
            <a href="/jQuery"  class="nav-item nav-link">jQuery</a>
            <a href="/js"  class="nav-item nav-link">Javascript</a>
            <a href="/ml"  class="nav-item nav-link">Machine Learning</a>
            <a href="/django"  class="nav-item nav-link">Django</a>
            <a href="/c"  class="nav-item nav-link">C</a>
            <a href="/cpp"  class="nav-item nav-link">C ++</a>
            <a href="/git"  class="nav-item nav-link">Git &amp; GitHub</a>
        </div>
    </div>
    <a href="{% url 'home-team' %}"  class="nav-item nav-link">
        Our Team
    </a>
    <a href="{% url 'home-quiz' %}"  class="nav-item nav-link">
        Quiz
    </a>
    <a href="{% url 'blog-home' %}"  class="nav-item nav-link">
        Blog
    </a> 
    <a href="{% url 'home-contact' %}"  class="nav-item nav-link">
        Contact Us
    </a>
  </div>
  
  <span style="font-size:30px;cursor:pointer;position:fixed;margin-left:10px;" onclick="openNav()"> &#9776;</span>
  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
    </script>