{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/login/login.css' %}" />
  <title>Authentication | Coding Easy</title>
</head>

<body>
  <div class="container">
    <div class="forms-container">
      <div class="signin-signup">
        <form action="{% url 'login' %}" class="sign-in-form" method="post">
          {% csrf_token%}
          
          <h2 class="title">Sign in</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input name="username" type="text" placeholder="Enter Username" />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input name="password" type="password" placeholder="Enter Password" />
          </div>
          <input type="submit" value="Login" class="btn solid" />
          <p class="social-text">Or Sign in with social platforms</p>
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-google"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </form>
        <form action="{% url 'register' %}" action="register" class="sign-up-form" method="post">
          {% csrf_token %}
          <h2 class="title">Sign up</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            {{form.username}}
            {% comment %} <input type="text" name='username' id="form-contact-name" class="form-control" required placeholder="Username"> {% endcomment %}
          </div>
          <div class="input-field">
            <i class="fas fa-envelope"></i>
            {{form.email}}
            {% comment %} <input type="text" name='email' id="form-contact-name" class="form-control" required placeholder="Email"> {% endcomment %}
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            {{form.password1}}
            {% comment %} <input type="password" name='password1' id="form-contact-name" class="form-control" required placeholder="Password"> {% endcomment %}
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            {{form.password2}}
            {% comment %} <input type="password" name='password2' id="form-contact-name" class="form-control" required placeholder="Confirm password"> {% endcomment %}
          </div>
          <input type="submit" name="CreateUser" class="btn" value="Sign up" />
          <p class="social-text">Or Sign up with social platforms</p>
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-google"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </form>
      </div>
    </div>
    <div class="message">
      {% for message in messages%}
      <p>{{message}}</p>
      {% endfor %}
    </div>
    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>New here ?</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
            ex ratione. Aliquid!
          </p>
          <button class="btn transparent" id="sign-up-btn">Sign up</button>
        </div>
        <img src="{% static 'img/login/log.svg' %}" class="image" alt="" />
      </div>
      <div class="panel right-panel">
        <div class="content">
          <h3>One of us ?</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            laboriosam ad deleniti.
          </p>
          <button class="btn transparent" id="sign-in-btn">Sign in</button>
        </div>
        <img src="{% static 'img/login/register.svg' %}" class="image" alt="" />
      </div>
    </div>
  </div>

  <script src="{% static 'js/login/login.js' %}"></script>
  <script>
    var loader = document.querySelector("#preloader")
    window.addEventListener("load", vanish);
    function vanish() {
      setInterval(function () {
        loader.classList.add("disapper")
      }, 3000);

    }
  </script>
  <script>

    //Query All input fields
    var form_fields = document.getElementsByTagName('input')
    form_fields[5].placeholder = 'Username';
    form_fields[6].placeholder = 'Email';
    form_fields[7].placeholder = 'Password';
    form_fields[8].placeholder = 'Confirm Password';

    for (var field in form_fields) {
      form_fields[field].className += ' form-control'
    }
  </script>
</body>

</html>