{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<br>
<div class="heading text-center display-3">
  CodingEasy
</div> <br>

<section class="container mt-3">
  <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
    <h1 class="text-center display-3">Functions</h1>
    <p class="text-center">A function is a block of code which only runs when it is called.</p>
<p class="text-center">You can pass data, known as parameters, into a function.</p>
<p class="text-center">Functions are used to perform certain actions, and they are 
important for reusing code: Define the code once, and use it many times.</p>
  </div>
</section>

<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Create a Function</h3>
      <p class="text-center">
        To create (often referred to as <em>declare</em>) your own function, specify the name of the function, followed by parentheses <code>()</code> 
and curly brackets <code>{}</code>
      </p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <div class="code">
        <pre>
                <code>
                  void <em>Function</em>() {
                    &nbsp; 
                    // code to be executed
                  }<br>

                </code>
            </pre>
      </div>
    </div>
  </div>
</section>


<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Call a Function</h3>
      <p class="text-center">
        Declared functions are not executed immediately. They are &quot;saved for later 
use&quot;, and will be executed when they are called.</p>
<p class="text-center">To call a function, write the function's name followed by two parentheses <code >()</code> 
and a semicolon <code >;</code></p>
<p class="text-center">In the following example, <code >myFunction()</code> is used to print a text (the action), when it is called:
      </p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <div class="code">
        <pre>
                <code>
                  // Create a function
                  void Function() {
                    &nbsp; printf(&quot;I just got 
                    executed!&quot;);
                  }
                  
                  int main() {
                    &nbsp; 
                    <strong>myFunction();</strong> // call the function
                    &nbsp; return 0;
                  }
                  // Outputs &quot;I just got executed!&quot;

                </code>
            </pre>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

{% block code %}

<div class="container">
  <h3 class="text-center">Give it a try &#128187;</h3>
  <iframe frameborder="0" width="100%" height="500px" src="https://replit.com/@nikhil25803/CodinEasyC?lite=true"></iframe>
</div>

{% endblock code %}