{% extends 'home/base.html' %}
{% load static %}

{% block content %}

<style>


@media (min-width: 768px) {
.main {
padding-right: 40px;
padding-left: 220px; /* 180 + 40 */
}
}


.sidebar {
position: fixed;
top: 75px;
bottom: 0;
left: 0;
z-index:1;
width: 290px;
display: block;
padding: 20px;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
background-color:blue;
font-color:white;
border-right: 1px solid #eee;
}
</style>



<div class="container-sm">
<div class="row">

<div class="sidebar">


  <div class="col-sm-3 col-md-2 sidebar">



      <h2 ><a href="ML.html" class="btn btn-primary btn-lg btn-block" style="color:white;">Introduction</a></h2><br />
      <h2 ><a href="{% url 'ml1' %}?data=linregx" class="btn btn-primary btn-lg btn-block" style="color:white;">Linear Regression</a></h2><br />
      <h2><a href="{% url 'ml1' %}?data=logregx" style="color:white;">Logistic Regression</a></h2><br />
      <h2><a href="{% url 'ml1' %}?data=knn" class="btn btn-primary btn-lg btn-block" style="color:white;">k-nearest neighbours</a></h2><br />
      <h2><a href="{% url 'ml1' %}?data=svm" class="btn btn-primary btn-lg btn-block" style="color:white;">Support Vector machines</a></h2><br />
      <h2><a href="{% url 'ml1' %}?data=decitree" class="btn btn-primary btn-lg btn-block" style="color:white;">Decision Tree</a></h2><br />
      <h2><a href="{% url 'ml1' %}?data=rf" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">Random Forest</a></h2><br/>
      <h2><a href="{% url 'ml1' %}?data=nv" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">Naive Bayes</a></h2><br/>
      <h2><a href="{% url 'ml1' %}?data=kmc" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">k Means Clustering</a></h2><br/>
      <h2><a href="{% url 'ml1' %}?data=hrc" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">Hierarchical Clustering</a></h2><br/>
      <h2><a href="{% url 'ml1' %}?data=ohe" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">One Hot Encoding</a></h2><br/>
      <h2><a href="{% url 'ml1' %}?data=kcv" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">K-Fold Cross Validation</a></h2><br/>
      <h2><a href="{% url 'ml1' %}?data=gs" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">Grid Search</a></h2><br/>





</div>
</div>
</div>
</div>

<section class="container mt-3">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
                <h1 class="text-center">Linear Regression (Regression Algorithm)</h1>

            </div>
</section>
<br><br>

<section class="container mt-5">
    <div class="row">
        <div class="col-md-6 col-sm-12 main">
            <h3 class="text-center">Linear Regression</h3>
            <p>Linear Regression is the most commonly used Regression technique which involves dealing with numerical
                values and some mathematical calculations
            </p>
            <p>This algorithm uses multiple mathematical & statistical techniques like Linear Algebra, Probability, to
                find the final results</p>
            <p>Linear Regression is widely used in predicting the prices of any object. Like we can use it for problem
                statements like House Price, Car Price, Stock Price etc </p>
            <p>As shown in the plot the circle markers(Blue Dots) are actual values and the best fit line(Red Line)
                represents the predicted values.</p>
            <p>After this we try to find the error which is the difference between predicted and actual value. We also
                try to minimize the error and thus adjust the best fit line so that we get minimum error. Once we get
                the perfect best fit line for
                our problem then we are all good to go for predicting unknown values.
            </p>
            <h3 class="text-center">Need For Regression Analysis</h3>
             <p>Regression analysis helps us to understand the relationship between two or more variables by creating a predictive model.</p>
            <p> Y = f(X) </p>
            <p> Where Y is Dependent Variable on X</p>
            <p> X is the independent Variable on Y</p>
            <h3 class="text-center">Measure of Good Fit</h3>
            <p> We find the best fit line on the basis of the value of &sum;[(Y0-Yp)^2]. Where Y0 is the actual value and Yp is the predicted value.</p>
            <h3 class="text-center">Types of Linear Regression</h3>
            <p>1. Simple Linear Regression</p>
            <p>2. Multiple Linear Regression</p>
            <h3 class="text-center">Simple Linear Regression</h3>
            <p>Simple linear regression is used to model the relationship between two continuous variables.</p>
            <p>Formula</p>
            <p>Y = a + bX</p>
            <p> Where Y = y-coordinate</p>
            <p> Where X = x-coordinate</p>
            <p> Where b = slope</p>
            <p> Where a = y-intercept</p>
            <h3 class="text-center">Multiple Linear Regression</h3>
            <p>In this we have one dependent variables and more than one independent variable.
            </p>
            <p>Formula</p>
            <p>Y = b0 + b1X + b2X^2 + b3X^3 + ... + bnX^n + e</p>
            <p>Y = Dependent variable</p>
            <p>X = Independent Variable</p>
            <p>b0 = y-intercept</p>
            <p>bn = Slope coefficient for each explanatory variable</p>
            <p>e = The model's error term</p>
            <p>
        </div>
        <div class="col-md-6 col-sm-12">
            <h3 class="text-center">Plot Picture</h3>
            <div class="code">
                <pre>
                <img src="{% static 'img/LinearRegex_Plot.png' %}",height=500px, width=500px>
            </pre>
            </div>
        </div>
    </div>
</section>
<br><br>


<br><br>
{% endblock content %}
