{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<br>
<div class="heading text-center display-3">
  CodingEasy
</div> <br>
<section class="container mt-3">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
        <h1 class="text-center">Data Types</h1>

      </div>
</section>
<br><br>
<section class="container mt-5">
  <div class="row">
    <div class="col-sm-12">

      <h3 class="text-center display-6">Built-in Data Types</h3>
      <p class="text-center">Variables can store data of different types, and different types can do
        different things.<br>
        Python has the following data types built-in by default, in these categories:</p>
      <style class="table">
        table,
        th,
        td {
          border: 1px solid black;
        }
      </style>
      <table class="text-center table">
        <tr>
          <td style="width:160px;">Text Type:</td>
          <td><code>str</code></td>
        </tr>
        <tr>
          <td>Numeric Types:</td>
          <td><code>int</code>, <code>float</code>,
            <code>complex</code>
          </td>
        </tr>
        <tr>
          <td>Sequence Types:</td>
          <td><code>list</code>, <code>tuple</code>,
            <code>range</code>
          </td>
        </tr>
        <tr>
          <td>Mapping Type:</td>
          <td><code>dict</code></td>
        </tr>
        <tr>
          <td>Set Types:</td>
          <td><code>set</code>, <code>frozenset</code></td>
        </tr>
        <tr>
          <td>Boolean Type:</td>
          <td><code>bool</code></td>
        </tr>
        <tr>
          <td>Binary Types:</td>
          <td><code>bytes</code>, <code>bytearray</code>,
            <code>memoryview</code>
          </td>
        </tr>
      </table>
    </div>
  </div>
  </div>
</section>
<br><br>

<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">

      <h3 class="text-center display-6">Getting the Data Type</h3>
      <p class="text-center">You can get the data type of any object by using the <code>type()</code> function.</p>

    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>

      <div class="code">
        <pre>
              <code>
                //Print the data type of the variable x:
                x = 5
                print(type(x))
              </code>
            </pre>
      </div>
    </div>
  </div>
</section>
<br><br>

{% endblock content %}

{% block code %}

<div class="container">
  <h3 class="text-center">Give it a try &#128187;</h3>
  <iframe frameborder="0" width="100%" height="500px" src="https://replit.com/@nikhil25803/CodingEasyPython?lite=true"></iframe>
</div>

{% endblock code %}