{% extends 'home/base.html' %}
{% load static %}

{% block content %}


<br />
<style>


@media (min-width: 768px) {
.main {
padding-right: 40px;
padding-left: 220px; /* 180 + 40 */
}
}


.sidebar {
position: fixed;
top: 75px;
bottom: 0;
left: 0;
z-index:1;
width: 250px;
display: block;
padding: 20px;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
background-color:blue;
font-color:white;
border-right: 1px solid #eee;
}
</style>



<div class="container-sm">
<div class="row">

<div class="sidebar">


  <div class="col-sm-3 col-md-2 sidebar">



      <h2 ><a href="python.html" class="btn btn-primary btn-lg btn-block" style="color:white;">Introduction</a></h2><br />
      <h2 ><a href="{% url 'py1' %}?data=basic" class="btn btn-primary btn-lg btn-block" style="color:white;">Basics</a></h2><br />
      <h2><a href="{% url 'py1' %}?data=operator" class="btn btn-primary btn-lg btn-block" style="color:white;">Operators</a></h2><br />
      <h2><a href="{% url 'py1' %}?data=datatype" class="btn btn-primary btn-lg btn-block" style="color:white;">Data Types</a></h2><br />
      <h2><a href="{% url 'py1' %}?data=function" class="btn btn-primary btn-lg btn-block" style="color:white;">Functions</a></h2><br />
      <h2><a href="{% url 'py1' %}?data=condition" class="btn btn-primary btn-lg btn-block" style="color:white;">Conditional Statements</a></h2><br />
      <h2><a href="{% url 'py1' %}?data=loop" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">Loops</a></h2><br/>
      <h2><a href="{% url 'py1' %}?data=file" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">File Handling</a></h2><br/>
      <h2><a href="{% url 'py1' %}?data=regex" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">Python RegEx</a></h2><br/>

</div>
</div>
</div>
</div>

<section class="container mt-3">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
        <h1 class="text-center">Data Types</h1>

      </div>
</section>
<br><br>
<section class="container mt-5">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <h3 class="text-center display-6">Built-in Data Types</h3>
      <p class="text-center">Variables can store data of different types, and different types can do
        different things.<br>
        Python has the following data types built-in by default, in these categories:</p>
      <style class="table">
        table,
        th,
        td {
          border: 1px solid black;
        }
      </style>
      <table class="text-center table">
        <tr>
          <td style="width:160px;">Text Type:</td>
          <td><code>str</code></td>
        </tr>
        <tr>
          <td>Numeric Types:</td>
          <td><code>int</code>, <code>float</code>,
            <code>complex</code>
          </td>
        </tr>
        <tr>
          <td>Sequence Types:</td>
          <td><code>list</code>, <code>tuple</code>,
            <code>range</code>
          </td>
        </tr>
        <tr>
          <td>Mapping Type:</td>
          <td><code>dict</code></td>
        </tr>
        <tr>
          <td>Set Types:</td>
          <td><code>set</code>, <code>frozenset</code></td>
        </tr>
        <tr>
          <td>Boolean Type:</td>
          <td><code>bool</code></td>
        </tr>
        <tr>
          <td>Binary Types:</td>
          <td><code>bytes</code>, <code>bytearray</code>,
            <code>memoryview</code>
          </td>
        </tr>
      </table>
    </div>
  </div>
  </div>
</section>
<br><br>

<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12 main">

      <h3 class="text-center display-6">Getting the Data Type</h3>
      <p class="text-center">You can get the data type of any object by using the <code>type()</code> function.</p>

    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>

      <div class="code">
        <pre>
              <code>
                //Print the data type of the variable x:
                x = 5
                print(type(x))
              </code>
            </pre>
      </div>
    </div>
  </div>
</section>
<br><br>

{% endblock content %}
