{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<br>
<div class="heading text-center display-3">
  CodingEasy
</div> <br>

<br><br>
<section class="container mt-3">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
        <h1 class="display-4">What is JavaScript</h1>
        <p class="lead">JavaScript is the Programming Language for the Web.<br>

          JavaScript can update and change both HTML and CSS.<br>

          JavaScript can calculate, manipulate and validate data.
        </p>
      </div>
    </div>
  </div>
</section>
<br><br>

<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">What can JavaScript do?</h3>
      <ul>
        <li>JavaScript Can Change HTML Content</li>
        <li>JavaScript Can Hide HTML Elements</li>
        <li>JavaScript Can Change HTML Styles (CSS)</li>
        <li>JavaScript Can Change HTML Attribute Values</li>
        <li>JavaScript Can Show HTML Elements</li>
      </ul>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <div class="code">
        <pre>
            <code>
  body {
    background-color: lightblue;
  }

  h1 {
    color: white;
    text-align: center;
  }

  p {
    font-family: verdana;
    font-size: 20px;
  }
            </code>
          </pre>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid ">
  <div class="row m-3 g-5">
    <div class="col-md-4 text-center d-flex justify-content-center">
      <div class="card" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title">Syntax</h5>
          <a href="{% url 'js1' %}?data=syntax" class="btn">Explore</a>
        </div>
      </div>
    </div>


    <div class="col-md-4 text-center d-flex justify-content-center">
      <div class="card" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title">Operators</h5>

          <a href="{% url 'js1' %}?data=operator" class="btn">Explore</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center d-flex justify-content-center">
      <div class="card" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title">Data Types</h5>

          <a href="{% url 'js1' %}?data=datatype" class="btn">Explore</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 text-center d-flex justify-content-center">
      <div class="card" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title">Functions</h5>
          <a href="{% url 'js1' %}?data=functions" class="btn">Explore</a>
        </div>
      </div>
    </div>


    <div class="col-md-4 text-center d-flex justify-content-center">
      <div class="card" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title">Objects</h5>

          <a href="{% url 'js1' %}?data=object" class="btn">Explore</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center d-flex justify-content-center">
      <div class="card" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title">Events</h5>

          <a href="{% url 'js1' %}?data=event" class="btn">Explore</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 text-center d-flex justify-content-center">
      <div class="card" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title">String</h5>
          <a href="{% url 'js1' %}?data=string" class="btn">Explore</a>
        </div>
      </div>
    </div>


    <div class="col-md-4 text-center d-flex justify-content-center">
      <div class="card" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title">JS Numbers</h5>

          <a href="{% url 'js1' %}?data=number" class="btn">Explore</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center d-flex justify-content-center">
      <div class="card" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title">JS Classes</h5>

          <a href="{% url 'js1' %}?data=class" class="btn">Explore</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 text-center d-flex justify-content-center">
      <div class="card" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title">JS Math</h5>
          <a href="{% url 'js1' %}?data=math" class="btn">Explore</a>
        </div>
      </div>
    </div>


    <div class="col-md-4 text-center d-flex justify-content-center">
      <div class="card" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title">JS Conditions</h5>

          <a href="{% url 'js1' %}?data=condition" class="btn">Explore</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center d-flex justify-content-center">
      <div class="card" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title">JS Errors</h5>

          <a href="{% url 'js1' %}?data=error" class="btn">Explore</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
{% endblock content %}