{% load has_group %}
<nav style="margin-bottom:20px;" class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="{% url 'index' %}" class="navbar-brand">
            <i class="fas fa-hands-helping fa-lg"></i>
        </a> 
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
        <div class="navbar-nav">
            <a href="{% url 'blog-home' %}" style="font-size:20px; color: #1504fa; letter-spacing: 1px; font-weight: bold;" class="nav-item nav-link">
                Blog
            </a>
            {% if user.is_authenticated %}
                {% if request.user.is_staff %}
                    <a href="{% url 'post-create' %}" title="New Post" style="font-size:20px; color: #1504fa; letter-spacing: 1px; font-weight: bold;" class="nav-item nav-link">
                        Add post
                    </a> 
                    <a href="{% url 'category-create' %}" title="New Post" style="font-size:20px; color: #1504fa; letter-spacing: 1px; font-weight: bold;" class="nav-item nav-link">
                        Add category
                    </a>
                {% elif request.user|has_group:"staff" %}
                    <a href="{% url 'post-create' %}" title="New Post" style="font-size:20px; color: #1504fa; letter-spacing: 1px; font-weight: bold;" class="nav-item nav-link">
                        Add post
                    </a> 
                    <a href="{% url 'category-create' %}" title="New Post" style="font-size:20px; color: #1504fa; letter-spacing: 1px; font-weight: bold;" class="nav-item nav-link">
                        Add category
                    </a>
                {% endif %}
            {% endif %}  
        </div>
        <form class="navbar-form form-inline"
            method="POST"
            action="{% url 'search_post' %}">
            {% csrf_token %}
            <div class="input-group search-box">								
            <input name="search_content" type="text" class="form-control" placeholder="Search here...">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary mb-2">Search</button>
            </div>
            </div>
        </form>
        <div class="navbar-nav action-buttons ml-auto">
            {% if user.is_authenticated %}
                <div class="collapse navbar-collapse" id="navbar-list-4">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="{{ user.profile.image.url }}" width="40" height="40" class="rounded-circle">
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'profile' %}">Edit Profile</a>
                                <a class="dropdown-item" href="{% url 'password_reset' %}">Reset Password</a>
                                <a class="dropdown-item" href="{% url 'favourite' %}">Favourite Posts</a>
                                <a class="dropdown-item" href="{% url "logout" %}">Sign Out</a>
                            </div>
                        </li>   
                    </ul>
                    <a href="#" class="btn btn-primary disabled-link">Welcome, {{user.username}} !</a>
                </div>
            {% else %}
                <a href="{% url 'login' %}" title="sign in" class="nav-item nav-link">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                </a>
            {% endif %}		
        </div>
    </div>
</nav>