{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    {% if cat_menu %}
      <div class="article-metadata mb-3">
        {% for item in cat_menu %}
        <span style="font-weight:bold;color:green;" class="mr-2">{{ item }}</span> 
        {% endfor %}
      </div>
    {% endif %}
    {% for post in posts %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}"> 
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small><br>
                <a style="color:#21d192;font-weight:bold;" class="mr-2" href="{% url 'posts_by_category' post.category.pk %}">{{ post.category.name }}</a>
              </div>
              <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
              {% if post.content|length > 300 %}
              <div class = "post_body">
                {{ post.content|truncatewords:"50" }}
                <a href="{% url 'post-detail' post.id %}">read more</a>
              </div>
              {% else %}
                <p class="article-content">{{ post.content}}</p>
              {% endif %}
              {% if post.image.url != None %}
                <br/>
                <div class="post-image">
                  <div class="thumbnail">
                    <a href="{{ post.image.url }}" target="_balnk">
                      <figure class="figure">
                        <img src="{{ post.image.url }}" style="width:560px;height:350px;" class="figure-img img-fluid rounded" alt="Image for {{ post.title }} post" title="Post Image">
                        <figcaption style="color:#428bca; font-weight: bold" class="figure-caption text-right">Press on the Image to Show the Original Size</figcaption>
                      </figure>
                    </a>
                  </div>
                </div>
              {% endif %}
            </div>
        </article>
    {% endfor %}

    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}