{% extends "home/base.html" %}

{% block content %}
  <a class="btn btn-primary" href=" {% url 'post-create' %} " role="button">New Post</a>
    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="#" alt="User Image">
          <div class="media-body">
            <div class="article-metadata">
              <small class="text-muted">{{ post.date_posted|date:"H:i, F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
  
  {% include 'includes/paginator.html' %}
  
{% endblock content %}