{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<br>
<div class="heading text-center display-3">
  CodingEasy
</div> <br>

<section class="container mt-3">
  <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
    <h1 class="text-center display-3">CSS Colors</h1>

  </div>
</section>
<br><br>


<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">CSS Background Color</h3>
      <p class="text-center">You can set the background color for HTML elements</p>

    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <div class="code">
        <pre>
                <code>
                  &lt;h1 style=&quot;background-color:DodgerBlue;&quot;&gt;Hello World&lt;/h1&gt;<br>&lt;p style=&quot;background-color:Tomato;&quot;&gt;Lorem 
                  ipsum...&lt;/p&gt;
                </code>
            </pre>
      </div>
    </div>
  </div>
</section>
<br><br>

<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">CSS Text Color</h3>
      <p class="text-center">You can set the color of text</p>

    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <div class="code">
        <pre>
                <code>
                  &lt;h1 style=&quot;color:Tomato;&quot;&gt;Hello 
                    World&lt;/h1&gt;<br>&lt;p style=&quot;color:DodgerBlue;&quot;&gt;Lorem 
                    ipsum...&lt;/p&gt;<br>&lt;p style=&quot;color:MediumSeaGreen;&quot;&gt;Ut wisi 
                    enim...&lt;/p&gt;
                </code>
            </pre>
      </div>
    </div>
  </div>
</section>
<br><br>

<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">CSS Border Color</h3>
      <p class="text-center">You can set the color of borders</p>

    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <div class="code">
        <pre>
                <code>
                  &lt;h1 style=&quot;border:2px 
                  solid Tomato;&quot;&gt;Hello 
                  World&lt;/h1&gt;<br>&lt;h1 style=&quot;border:2px 
                  solid DodgerBlue;&quot;&gt;Hello 
                  World&lt;/h1&gt;<br>&lt;h1 style=&quot;border:2px 
                  solid Violet;&quot;&gt;Hello 
                  World&lt;/h1&gt;
                </code>
            </pre>
      </div>
    </div>
  </div>
</section>
<br><br>
{% endblock content %}