{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<br>
<div class="heading text-center display-3">
    CodingEasy
</div> <br>
<section class="container mt-3">
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
                <h1 class="text-center">'K-Fold Cross Validation'</h1>
                <p></p>
                <ol>
                    <li></li>
                    <li></li>
                </ol>

            </div>
        </div>
    </div>

</section>
<br><br>

<section class="container mt-5">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h3 class="text-center">'K-Fold Cross Validation'</h3>
            <p>Cross validation is a statistical method that helps in evaluating the performance of the 
                model. For example, if we are creating ML models for classifying whether emails are spam or not.</p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p>
            </p>

        </div>
        <div class="col-md-6 col-sm-12">
            <h3 class="text-center">Example</h3>
            <div class="code">
                <pre>
                    <img src= ![image](https://user-images.githubusercontent.com/88052597/160228024-0d19f325-d1ef-4eb3-adc6-2d37ae1fbc1d.png)>

            </pre>
            </div>
        </div>
    </div>
</section>
<br><br>


{% endblock content %}
