.contact-section .contact {
    background-color: #4caf50;
    border-radius: 0 0.25rem 0.25rem 0;
}

.white-text {
    color: #fff !important;
}

.bttn {
  margin-left: 10px;
  margin-right: 10px;
}

.bttn-success {
  font-family: Raleway-SemiBold;
  font-size: 20px;
  color: rgba(103, 192, 103, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  width:150px;
  height:40px;
  border: 2px solid rgba(103, 192, 103, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.bttn-success:hover {
  color: #FFF;
  background: rgb(103, 192, 103, 0.75);
  border: 2px solid rgb(103, 192, 103, 0.75);
}


