{% extends 'home/base.html' %}
{% load static %}

{% block content %}


<br />
<style>


@media (min-width: 768px) {
.main {
padding-right: 40px;
padding-left: 220px; /* 180 + 40 */
}
}


.sidebar {
position: fixed;
top: 75px;
bottom: 0;
left: 0;
z-index:1;
width: 250px;
display: block;
padding: 20px;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
background-color:blue;
font-color:white;
border-right: 1px solid #eee;
}
</style>



<div class="container-sm">
<div class="row">

<div class="sidebar">


  <div class="col-sm-3 col-md-2 sidebar">



      <h2 ><a href="javascr.html" class="btn btn-primary btn-lg btn-block" style="color:white;">Introduction</a></h2><br />
      <h2 ><a href="{% url 'js1' %}?data=syntax" class="btn btn-primary btn-lg btn-block" style="color:white;">Syntax</a></h2><br />
      <h2><a href="{% url 'js1' %}?data=operator"style="color:white;">Operators</a></h2><br />
      <h2><a href="{% url 'js1' %}?data=datatype" class="btn btn-primary btn-lg btn-block" style="color:white;">Data Types</a></h2><br />
      <h2><a href="{% url 'js1' %}?data=functions" class="btn btn-primary btn-lg btn-block" style="color:white;">Functions</a></h2><br />
      <h2><a href="{% url 'js1' %}?data=object" class="btn btn-primary btn-lg btn-block" style="color:white;">Objects</a></h2><br />
      <h2><a href="{% url 'js1' %}?data=event" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">Events</a></h2><br/>
      <h2><a href="{% url 'js1' %}?data=string" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">String</a></h2><br/>
      <h2><a href="{% url 'js1' %}?data=number" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">Numbers</a></h2><br/>
      <h2><a href="{% url 'js1' %}?data=math" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">JS Math</a></h2><br/>
      <h2><a href="{% url 'js1' %}?data=condition" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">JS Conditions</a></h2><br/>
      <h2><a href="{% url 'js1' %}?data=error" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">JS Errors</a></h2><br/>



</div>
</div>
</div>
</div>

<section class="container mt-3">
  <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
    <h1 class="display-4">JS Conditions</h1>
    <p class="lead">Conditional statements are used to perform different actions based on different conditions.<br>
    </p>
    <p>You can use conditional statements in your code to do this.</p>
    <p>In JavaScript we have the following conditional statements:</p>
    <ul>
      <li>Use <code>if</code> to specify a block of code to be executed, if a specified condition is true</li>
      <li>Use <code>else</code> to specify a block of code to be executed, if the same condition is
        false</li>
      <li>Use <code>else if</code> to specify a new condition to test, if the first condition is false</li>
      <li>Use <code>switch</code> to specify many alternative blocks of code to be executed</li>
    </ul>
  </div>
</section>
<br><br>
<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12 main">

      <h3 class="text-center display-6">The if Statement</h3>
      <p class="text-center">Use the <code>if</code> statement to specify a block of JavaScript code to
        be executed if a condition is true.</p>

    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>

      <div class="code">
        <pre>
                <code>
                  if (<i>condition</i>) {<br>
                    &nbsp;&nbsp;//<em>&nbsp; block of code to be executed if the condition is true<br>
                     </em>}
                </code>
              </pre>
      </div>
    </div>
  </div>
</section>
<br><br>

<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12 main">

      <h3 class="text-center display-6">The else Statement</h3>
      <p class="text-center">Use the <code>else</code> statement to specify a block of code to be
        executed if the condition is
        false.</p>

    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>

      <div class="code">
        <pre>
                <code>
                  if (<i>condition</i>) {<br>
                    &nbsp;&nbsp;//<em>&nbsp; block of code to be executed if the condition is true<br>
                     </em>}
                    else {
                    <br>
                    &nbsp;&nbsp;//<em>&nbsp; block of code to be executed if the condition is false<br>
                     </em>}
                </code>
              </pre>
      </div>
    </div>
  </div>
</section>
<br><br>

<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12 main">

      <h3 class="text-center display-6">The else if&nbsp;Statement</h3>
      <p class="text-center">Use the <code>else if</code> statement to specify a new condition if the first condition is
        false.</p>

    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>

      <div class="code">
        <pre>
                <code>
                  if (<i>condition1</i>) {<br>
                    &nbsp;&nbsp;//<em>&nbsp; block of code to be executed if condition1 is true<br>
                     </em>}
                    else if (<i>condition2</i>) {<br>
                    &nbsp;&nbsp;//<em>&nbsp; block of code to be executed if the condition1 is false and condition2 is true</em><br>
                    } else {<br>
                    &nbsp;&nbsp;//<em>&nbsp; block of code to be executed if the condition1 is false and condition2 is false<br>
                     </em>}
                </code>
              </pre>
      </div>
    </div>
  </div>
</section>
<br><br>

{% endblock content %}
