{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<br>

<div class="heading text-center display-3">
  CodingEasy
</div> <br>

<br><br>
<section class="container mt-3">
  <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
    <h1 class="display-4">JS Conditions</h1>
    <p class="lead">Conditional statements are used to perform different actions based on different conditions.<br>
    </p>
    <p>You can use conditional statements in your code to do this.</p>
    <p>In JavaScript we have the following conditional statements:</p>
    <ul>
      <li>Use <code>if</code> to specify a block of code to be executed, if a specified condition is true</li>
      <li>Use <code>else</code> to specify a block of code to be executed, if the same condition is
        false</li>
      <li>Use <code>else if</code> to specify a new condition to test, if the first condition is false</li>
      <li>Use <code>switch</code> to specify many alternative blocks of code to be executed</li>
    </ul>
  </div>
</section>
<br><br>
<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">

      <h3 class="text-center display-6">The if Statement</h3>
      <p class="text-center">Use the <code>if</code> statement to specify a block of JavaScript code to
        be executed if a condition is true.</p>

    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>

      <div class="code">
        <pre>
                <code>
                  if (<i>condition</i>) {<br>
                    &nbsp;&nbsp;//<em>&nbsp; block of code to be executed if the condition is true<br>
                     </em>}
                </code>
              </pre>
      </div>
    </div>
  </div>
</section>
<br><br>

<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">

      <h3 class="text-center display-6">The else Statement</h3>
      <p class="text-center">Use the <code>else</code> statement to specify a block of code to be
        executed if the condition is
        false.</p>

    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>

      <div class="code">
        <pre>
                <code>
                  if (<i>condition</i>) {<br>
                    &nbsp;&nbsp;//<em>&nbsp; block of code to be executed if the condition is true<br>
                     </em>}
                    else {
                    <br>
                    &nbsp;&nbsp;//<em>&nbsp; block of code to be executed if the condition is false<br>
                     </em>}
                </code>
              </pre>
      </div>
    </div>
  </div>
</section>
<br><br>

<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">

      <h3 class="text-center display-6">The else if&nbsp;Statement</h3>
      <p class="text-center">Use the <code>else if</code> statement to specify a new condition if the first condition is
        false.</p>

    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>

      <div class="code">
        <pre>
                <code>
                  if (<i>condition1</i>) {<br>
                    &nbsp;&nbsp;//<em>&nbsp; block of code to be executed if condition1 is true<br>
                     </em>}
                    else if (<i>condition2</i>) {<br>
                    &nbsp;&nbsp;//<em>&nbsp; block of code to be executed if the condition1 is false and condition2 is true</em><br>
                    } else {<br>
                    &nbsp;&nbsp;//<em>&nbsp; block of code to be executed if the condition1 is false and condition2 is false<br>
                     </em>}
                </code>
              </pre>
      </div>
    </div>
  </div>
</section>
<br><br>

{% endblock content %}

{% block code %}

<div class="container">
  <h3 class="text-center">Give it a try &#128187;</h3>
  <iframe frameborder="0" width="100%" height="500px" src="https://replit.com/@nikhil25803/CodingEasyJavascript?lite=true"></iframe>
</div>

{% endblock code %}