.Body {
    background-color: lightyellow;
}

div.codeeasy {
    color: darkred;
    font-style: bold;
}

h1 {
    color: darkgreen;
    font-family: cambria;
    font-style: bold;
}

b.basicsyntax {
    color: darkred;
    font-style: bold;
}

b.points {
    font-size: 20;
    color: green;
    font-style: bold;
}

b.example {
    color: darkred;
    font-style: bold;
}
