@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
    background-color: antiquewhite;
}
.carousel-item> img{
    height: 70vh;
}
.heading{
    font-family: 'Lobster', cursive;
}
.card> img{
    height: 30vh;
}
.btn{
    color: white !important;
    background-color: teal !important;
}

.fea{
  text-align: center;
}
