{% extends 'home/base.html' %}
{% load static %}

{% block content %}

  <!-- Section: Contact v.3 -->
  <section class="contact-section my-5">
    {% comment %} Messages {% endcomment %}
    <div class="contact-wrapper">
      <div class="col-lg-8">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    <!-- Form with header -->
      <div class="card">

        <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
            <!--Section description-->
        <p class="text-center w-responsive mx-auto mb-5">
          If you have any questions or suggestions. Please don't hesitate to fill
          the form below or email us or call us at the helpline number.</p>
        
        <!-- Grid row -->
        <div class="row">
          
          <!-- Grid column -->
          <div class="col-lg-8">
            <div class="card-body form">

              <form id="contact-form" method="post" action="{% url 'home-contact' %}">
                {% csrf_token %}

              <!-- Header -->
              <h3 class="mt-4"><i class="fas fa-envelope pr-2"></i>Write to us:</h3>

              <!-- Grid row -->
              <div class="row">

                <!-- Grid column -->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input type="text" name='name' id="form-contact-name" class="form-control" required placeholder="Your name">
                  </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input type="email" name='email' id="form-contact-email" class="form-control" required placeholder='Your email'>
                  </div>
                </div>
                <!-- Grid column -->

              </div>
              <!-- Grid row -->

              <!-- Grid row -->
              <div class="row">

                <!-- Grid column -->
                <div class="col-md-12">
                  <div class="md-form mb-0">
                    <textarea id="form-contact-message" name='message' class="form-control md-textarea" rows="3" required placeholder='Your message'></textarea>
                  </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="mb-3 mt-4 text-center col-md-12">
                    <button class="bttn bttn-success" type="submit">
                      Send
                    </button>
                  </div>
                <!-- Grid column -->

              </div>
            </form>
          </div>

        </div>
        <!-- Grid column -->


        <!-- Grid column -->
        <div class="col-lg-4">

          <div class="card-body contact text-center h-100 white-text">

            <h3 class="my-4 pb-2">Contact information</h3>
            <ul class="text-lg-left list-unstyled ml-4">
              <li>
                <p><i class="fas fa-map-marker-alt pr-2"></i>City, State</p>
              </li>
              <li>
                <p><i class="fas fa-phone pr-2"></i>(+91)9876543210</p>
              </li>
              <li>
                <p><i class="fas fa-envelope pr-2"></i>codingeasy@gmail.com</p>
              </li>
            </ul>
            <hr class="hr-light my-4">
            <ul class="list-inline text-center list-unstyled">
              <li class="list-inline-item">
                <a href='https://github.com/arpit456jain/CodingEasy' target='_blank' class="p-2 fa-lg tw-ic">
                  <i class="fa fa-github-alt"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href='https://twitter.com/girlscriptsoc' target='_blank' class="p-2 fa-lg li-ic">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href='https://www.instagram.com/girlscriptsummerofcode/?hl=en' target='_blank' class="p-2 fa-lg ins-ic">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
            </ul>

            <div class="copyright">&copy; ALL OF THE RIGHTS RESERVED</div

          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
  </div>
  <!-- Form with header -->

  </section>
<!-- Section: Contact v.3 -->

{% endblock content %}