{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<br>
<div class="heading text-center display-3">
  CodingEasy
</div> <br>

<section class="container mt-3">
  <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
    <h1 class="text-center display-3">CSS Box-Model &amp;Outline</h1>

  </div>
</section>
<br><br>


<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Box-Model</h3>
      <p class="text-center">
           Explanation of the different parts:
           <ul>
               <li><strong>Content </strong>- The content of the box, where text and images appear</li>
               <li><strong>Padding </strong>- Clears an area around the content. The padding is transparent</li>
               <li><strong>Border </strong>- A border that goes around the padding and content</li>
               <li><strong>Margin </strong>- Clears an area outside the border. The margin is transparent</li>
           </ul>
      </p>
    </div>
  </div>
</section>
<br><br>
<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">OutlineL</h3>
      <p class="text-center">
            An outline is a line that is drawn around elements, OUTSIDE the borders, to make the element "stand out".
      </p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="text-center">Example</h3>
      <div class="code">
        <pre>
                <code>
                    p.dotted {outline-style: dotted;}
                </code>
            </pre>
      </div>
    </div>
  </div>
</section>
<br><br>
<section class="container mt-5">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="embed-responsive embed-responsive-21by9  d-flex align-items-center justify-content-center w-75 p-3 h-75 bg-info">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/N17LKSsDRQE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    
    </div>
</section>
{% endblock content %}