{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<br>
<div class="heading text-center display-3">
  Coding Easy
</div> <br>
<section class="container mt-3">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
        <h1 class="text-center">Operators</h1>
        <p class="text-center">Operator is a symbol that performs an operation on one or more operands. An operand is
          a variable or a value on which we perform the operation.</p>
      </div>
</section>
<br><br>


<!-- code and text -->
<section class="container mt-5">
  <div class="row">
    <div class="col-sm-12">

      <h2 class="text-center">Python Arithmetic Operators</h2>
      <p class="text-center">Arithmetic operators are used with numeric values to perform common mathematical
        operations:</p>
      <style class="table">
        table,
        th,
        td {
          border: 1px solid black;
        }
      </style>
      <table class="text-center table">
        <tr>
          <th style="width:25%">Operator</th>
          <th style="width:35%">Name</th>
          <th style="width:30%">Example</th>

        </tr>
        <tr>
          <td>+</td>
          <td>Addition</td>
          <td>x + y</td>

        </tr>
        <tr>
          <td>-</td>
          <td>Subtraction</td>
          <td>x - y</td>

        </tr>
        <tr>
          <td>*</td>
          <td>Multiplication</td>
          <td>x * y</td>

        </tr>
        <tr>
          <td>/</td>
          <td>Division</td>
          <td>x / y</td>

        </tr>
        <tr>
          <td>%</td>
          <td>Modulus</td>
          <td>x % y</td>

        </tr>
        <tr>
          <td>**</td>
          <td>Exponentiation</td>
          <td>x ** y</td>

        </tr>
        <tr>
          <td>//</td>
          <td>Floor division</td>
          <td>x // y</td>
        </tr>
      </table>
      <br><br>
      <h2 class="text-center">Python Assignment Operators</h2>

      <p class="text-center">Assignment operators are used to assign values to variables:</p>

      <table class="text-center table">
        <tr>
          <th style="width:25%">Operator</th>
          <th style="width:20%">Example</th>
          <th style="width:20%">Same As</th>
        </tr>
        <tr>
          <td>=</td>
          <td>x = 5</td>
          <td>x = 5</td>

        </tr>
        <tr>
          <td>+=</td>
          <td>x += 3</td>
          <td>x = x + 3</td>

        </tr>
        <tr>
          <td>-=</td>
          <td>x -= 3</td>
          <td>x = x - 3</td>

        </tr>
        <tr>
          <td>*=</td>
          <td>x *= 3</td>
          <td>x = x * 3</td>

        </tr>
        <tr>
          <td>/=</td>
          <td>x /= 3</td>
          <td>x = x / 3</td>

        </tr>
        <tr>
          <td>%=</td>
          <td>x %= 3</td>
          <td>x = x % 3</td>

        </tr>
        <tr>
          <td>//=</td>
          <td>x //= 3</td>
          <td>x = x // 3</td>

        </tr>
        <tr>
          <td>**=</td>
          <td>x **= 3</td>
          <td>x = x ** 3</td>

        </tr>
        <tr>
          <td>&amp;=</td>
          <td>x &amp;= 3</td>
          <td>x = x &amp; 3</td>

        </tr>
        <tr>
          <td>|=</td>
          <td>x |= 3</td>
          <td>x = x | 3</td>

        </tr>
        <tr>
          <td>^=</td>
          <td>x ^= 3</td>
          <td>x = x ^ 3</td>

        </tr>
        <tr>
          <td>&gt;&gt;=</td>
          <td>x &gt;&gt;= 3</td>
          <td>x = x &gt;&gt; 3</td>

        </tr>
        <tr>
          <td>&lt;&lt;=</td>
          <td>x &lt;&lt;= 3</td>
          <td>x = x &lt;&lt; 3</td>

        </tr>
      </table>
      <br><br>
      <h2 class="text-center">Python Comparison Operators</h2>

      <p class="text-center">Comparison operators are used to compare two values:</p>

      <table class="text-center table">
        <tr>
          <th style="width:25%">Operator</th>
          <th style="width:35%">Name</th>
          <th style="width:30%">Example</th>

        </tr>
        <tr>
          <td>==</td>
          <td>Equal</td>
          <td>x == y</td>

        </tr>
        <tr>
          <td>!=</td>
          <td>Not equal</td>
          <td>x != y</td>

        </tr>
        <tr>
          <td>&gt;</td>
          <td>Greater than</td>
          <td>x &gt; y</td>

        </tr>
        <tr>
          <td>&lt;</td>
          <td>Less than</td>
          <td>x &lt; y</td>

        </tr>
        <tr>
          <td>&gt;=</td>
          <td>Greater than or equal to</td>
          <td>x &gt;= y</td>

        </tr>
        <tr>
          <td>&lt;=</td>
          <td>Less than or equal to</td>
          <td>x &lt;= y</td>

        </tr>
      </table>

      <br><br>

      <h2 class="text-center">Python Logical Operators</h2>

      <p class="text-center">Logical operators are used to combine conditional statements:</p>

      <table class="text-center table">
        <tr>
          <th style="width:25%">Operator</th>
          <th style="width:35%">Description</th>
          <th style="width:30%">Example</th>

        </tr>
        <tr>
          <td>and&nbsp;</td>
          <td>Returns True if both statements are true</td>
          <td>x &lt; 5 and&nbsp; x &lt; 10</td>

        </tr>
        <tr>
          <td>or</td>
          <td>Returns True if one of the statements is true</td>
          <td>x &lt; 5 or x &lt; 4</td>

        </tr>
        <tr>
          <td>not</td>
          <td>Reverse the result, returns False if the result is true</td>
          <td>not(x &lt; 5 and x &lt; 10)</td>

        </tr>
      </table>
    </div>
  </div>
  </div>
</section>
<br><br>


{% endblock content %}

{% block code %}

<div class="container">
  <h3 class="text-center">Give it a try &#128187;</h3>
  <iframe frameborder="0" width="100%" height="500px" src="https://replit.com/@nikhil25803/CodingEasyPython?lite=true"></iframe>
</div>

{% endblock code %}