{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<br>
<div class="heading text-center display-3">
    CodingEasy
</div> <br>
<section class="container mt-3">
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
                <h1 class="text-center">GridSearch</h1>
                <p><br></p>
                <ul>
                    <li>Grid search is the simplest algorithm for hyperparameter tuning. Basically, we divide the domain of the hyperparameters into a discrete grid. Then, we try every combination of values of this grid, calculating some performance metrics using cross-validation.</li>
                </ul>

            </div>
        </div>
    </div>

</section>
<br><br>

<section class="container mt-5">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h3 class="text-center">GridSearch</h3>
            <p>The process of choosing an optimal parameter is known as hyper parameter tuning.
                this ca be achieved using GridSearchCV.</p>
            <p> It can run through all the different parameters that is fed into the parameter grid. Then, 
                it produces the best combination of parameters. This done based on a scoring metric that we
                can give as per our choice like accuracy, f1, etc.</p>
            <p>GridSearchCV has some cons. In GridSearchCV, the best parameters are limited and the process
                is time-consuming.</p>
            <p>sklearn library provides the GridSearchCV function.</p>
            <p>Below is given a sample code performed on the Iris dataset using GridSearchCV.
               from sklearn.model_selection import GridSearchCV
               clf = GridSearchCV(svm.SVC(gamma='auto'), {
                'C': [1,10,20],
                'kernel': ['rbf','linear']
               }, cv=5, return_train_score=False)
               clf.fit(iris.data, iris.target)
               clf.cv_results_
            </p>

        </div>
        <div class="col-md-6 col-sm-12">
            <h3 class="text-center">Example</h3>
            <img src="{% static 'img/gridsearch.png' %}",height=600px, width=600px>

        </div>
    </div>
</section>
<br><br>


{% endblock content %}
