{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<br>
<div class="heading text-center display-3">
    CodingEasy
</div> <br>
<section class="container mt-3">
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
                <h1 class="text-center">'GridSearch'</h1>
                <p></p>
                <ol>
                    <li></li>
                    <li></li>
                </ol>

            </div>
        </div>
    </div>

</section>
<br><br>

<section class="container mt-5">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h3 class="text-center">'GridSearch'</h3>
            <p>The process of choosing an optimal parameter is known as hyper parameter tuning.
                this ca be achieved using GridSearchCV.</p>
            <p> It can run through all the different parameters that is fed into the parameter grid. Then, 
                it produces the best combination of parameters. This done based on a scoring metric that we
                can give as per our choice like accuracy, f1, etc.</p>
            <p>GridSearchCV has some cons. In GridSearchCV, the best parameters are limited and the process
                is time-consuming.</p>
            <p></p>
            <p></p>
            <p></p>
            <p>
            </p>

        </div>
        <div class="col-md-6 col-sm-12">
            <h3 class="text-center">Example</h3>
            <div class="code">
                <pre>
                    <img src= 

            </pre>
            </div>
        </div>
    </div>
</section>
<br><br>


{% endblock content %}
