{% extends "blog/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'password_reset' %}">
              <i class="fas fa-edit"></i>&nbsp;Reset Password
            </a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete_account' user.id %}">
              <i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;Delete Account
            </a>
            <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'favourite' %}">
              <i class="fas fa-heart fa-lg" style="color:red !important;"></i>&nbsp;Favourite Posts
            </a>
          </div>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>
              {{ u_form|crispy }}<br/>
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Update</button>
              <a class="btn btn-outline-secondary" href="{% url 'blog-home' %}">Cancel</a>
          </div>
      </form>
    </div>
{% endblock content %}