{% extends 'home/base.html' %}
{% load static %}

{% block content %}


<br />
<style>


@media (min-width: 768px) {
.main {
padding-right: 40px;
padding-left: 220px; /* 180 + 40 */
}
}


.sidebar {
position: fixed;
top: 75px;
bottom: 0;
left: 0;
z-index:1;
width: 250px;
display: block;
padding: 20px;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
background-color:blue;
font-color:white;
border-right: 1px solid #eee;
}
</style>



<div class="container-sm">
<div class="row">

<div class="sidebar">


  <div class="col-sm-3 col-md-2 sidebar">



      <h2 ><a href="css.html" class="btn btn-primary btn-lg btn-block" style="color:white;">Introduction</a></h2><br />
      <h2 ><a href="{% url 'css1' %}?data=basic" class="btn btn-primary btn-lg btn-block" style="color:white;">CSS Syntax</a></h2><br />
      <h2><a href="{% url 'css1' %}?data=selectors" class="btn btn-primary btn-lg btn-block" style="color:white;">CSS Selectors</a></h2><br />
      <h2><a href="{% url 'css1' %}?data=function" class="btn btn-primary btn-lg btn-block" style="color:white;">CSS Functions</a></h2><br />
      <h2><a href="{% url 'css1' %}?data=font-family" class="btn btn-primary btn-lg btn-block" style="color:white;">CSS Font Family</a></h2><br />
      <h2><a href="{% url 'css1' %}?data=font-style" class="btn btn-primary btn-lg btn-block" style="color:white;">CSS Font Style</a></h2><br />
      <h2><a href="{% url 'css1' %}?data=align" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">CSS Alignments</a></h2><br/>
      <h2><a href="{% url 'css1' %}?data=color" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">CSS Colors</a></h2><br/>
      <h2><a href="{% url 'css1' %}?data=margins" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">CSS Margins</a></h2><br/>
      <h2><a href="{% url 'css1' %}?data=padding" class="btn btn-primary btn-lg btn-block" style="color:white;text-align:center;">CSS Padding</a></h2><br/>


</div>
</div>
</div>
</div>


<section class="container mt-3">
    <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
        <h1 class="text-center display-3">CSS Margins</h1>

    </div>
</section>
<br><br>


<section class="container mt-5">
    <div class="row">
        <div class="col-md-6 col-sm-12 main">
            <h3 class="text-center">CSS Margins</h3>
            <p class="text-center">The CSS <code>margin</code> properties are used to create space around elements,
                outside of any defined borders.
                <br>With CSS, you have full control over the margins. There are properties
                for setting the margin for each side of an element (top, right, bottom, and left).<br>

                <br>CSS has properties for specifying the margin for each
                side of an element:
            </p>
            <ul>
                <li><code>margin-top</code></li>
                <li><code>margin-right</code></li>
                <li><code>margin-bottom</code></li>
                <li><code>margin-left</code></li>
            </ul>


        </div>
        <div class="col-md-6 col-sm-12">
            <h3 class="text-center">Example</h3>
            <div class="code">
                <pre>
                <code>
                    p {<br>&nbsp;&nbsp;margin-top: 100px;<br>
                        &nbsp;&nbsp;margin-bottom: 100px;<br>
                        &nbsp;&nbsp;margin-right: 150px;<br>
                        &nbsp;&nbsp;margin-left: 80px;<br>}
                </code>
            </pre>
            </div>
        </div>
    </div>
</section>
<br><br>


<br><br>

{% endblock content %}
