{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<br>

<section class="container mt-3">
  <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
    <h1 class="text-center display-3">Variables in C</h1>
  </div>
</section>
<p class="text-center display-6">
<h3><b><i>A variable is a name of the memory location. It is used to store data. Its value can be changed, and it can be reused many times. It is a way to represent memory location through symbol so that it can be easily identified.</i></b></h3>
</p>

<ul>

  <li><b><i>char</i></b> -->Typically a single octet (one byte). This is an integer type.</li>
  <li><b><i>int</i></b> -->The most natural size of integer for the machine.</li>
  <li><b><i>float</i></b> -->A single-precision floating point value.</li>

</ul>
<p>
</p>
</div>
</section>
<br><br>
{% endblock content %}