{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<section class="container mt-5">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <h5 class="card-header">Installation</h5>
                <div class="card-body">
                    <h6 class="card-title">With platform specific installers for Git, GitHub also provides the
                        ease of staying up-to-date with the latest releases of the command
                        line tool while providing a graphical user interface for day-to-day
                        interaction, review, and repository synchronization.</h6>
                    <br>
                    <p class="card-text">Download Links</p>
                    <a href="https://windows.github.com" class="btn btn-info" target="_blank">GitHub for Windows</a>
                    <a href="https://mac.github.com" class="btn btn-primary" target="_blank">GitHub for Mac</a>
                    <a href="http://git-scm.com" class="btn btn-primary" target="_blank">Git for All Platforms</a>
                    <br>
                    <p class="card-text">For Linux and Solaris platforms, the latest release is available on
                        the official Git web site.</p>
                </div>
                <div class="card-footer text-muted" style="height: 100px;">
                    <p class="card-text">For furthur details, visit the official website for GitHub Downloads</p>

                    <a href="https://git-scm.com/downloads" class="btn btn-info" target="_blank">Click Here</a>
                </div>
            </div>

        </div>

        <div class="col-md-6 col-sm-12">
            <div class="card">
                <h5 class="card-header">Beginner Git Commands</h5>
                <div class="card-body">
                    <div class="alert alert-info" role="alert">
                        > git init
                    </div>
                    <div class="alert alert-info" role="alert">
                        > git status
                    </div>
                    <div class="alert alert-info" role="alert">
                        > git log
                    </div>
                    <div class="alert alert-info" role="alert">
                        > git clone
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row my-5">
        <div class="col">
            <h3 class="text-center border-bottom border-info border-2 rounded-pill">Examples and Uses</h3>

            <div class="card mt-2">
                <h6 class="card-header"><em>git init</em></h6>
                <div class="card-body">
                    <h6 class="card-title">// Command used to initialize Git's version control system.</h6>
                    <p class="card-text">It can be used in any folder with any files..</p>
                </div>
            </div>

            <div class="card mt-2">
                <h6 class="card-header"><em>git status</em></h6>
                <div class="card-body">
                    <h6 class="card-title">// Command used to show the status(tracked, untracked, modified) of the files
                        in the current directory.</h6>
                </div>
            </div>

            <div class="card mt-2">
                <h6 class="card-header"><em>git clone /path/to/repository
                        git clone username@host:/path/to/repository</em></h6>
                <div class="card-body">
                    <h6 class="card-title">// Create a working copy of a local repository:</h6>
                </div>
            </div>

            <div class="card mt-2">
                <h6 class="card-header"><em>git log</em></h6>
                <div class="card-body">
                    <h6 class="card-title">// Create a working copy of a local repository:</h6>
                </div>
            </div>
            <div class="code mt-2">
            </div>
        </div>
    </div>
</div>

<section class="container mt-5">
    <div class="row">
        <h3 class="text-center border-bottom border-danger border-2 rounded-pill">Video Tutorials</h3>
        <div class="col-md-6 col-sm-12">
            
            <div
                class="embed-responsive embed-responsive-21by9  d-flex align-items-center justify-content-center w-75 p-3 h-75 bg-info">
                <iframe width="560" height="400" src="https://www.youtube.com/embed/1fSfcE1hhzI"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div
                class="embed-responsive embed-responsive-21by9  d-flex align-items-center justify-content-center w-75 p-3 h-75 bg-info">
                <iframe width="560" height="400" src="https://www.youtube.com/embed/gg1fX1t5OkA"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                    encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div
                class="embed-responsive embed-responsive-21by9  d-flex align-items-center justify-content-center w-75 p-3 h-75 bg-info">
                <iframe width="560" height="400" src="https://www.youtube.com/embed/rcO71CNYCBw"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                    gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
        </div>

    </div>
</section>
{% endblock content %}