{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<br>

<div class="heading text-center display-3">
  CodingEasy
</div> <br>

<br><br>
<section class="container mt-3">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
        <h1 class="text-center display-4">JS Syntax</h1>

      </div>
    </div>
  </div>
</section>
<br><br>

<section class="container mt-3 ">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="text-center">JavaScript Syntax</h3>
      <p>JavaScript syntax is the set of rules, how JavaScript programs are constructed:</p><br>
      <p>var x, y, z; <br> // Declare Variables<br>
        x = 5; y = 6; <br> // Assign Values<br>
        z = x + y; <br> // Compute Values</p><br>

      <h3 class="text-center">JavaScript Values</h3><br>
      <p>The JavaScript syntax defines two types of values:</p><br>
      <ul>
        <li>Fixed values</li>
        <li>Variable values</li>
      </ul>
      <p>Fixed values are called Literals.<br>

        Variable values are called Variables.</p><br>
      <h3 class="text-center">JavaScript Literals</h3><br>
      <p>The two most important syntax rules for fixed values are:<br>1. Numbers are written with or without
        decimals:<br>
        Example - 10.50 and 1001</p><br>
      <p>2. Strings are text, written within double or single quotes:</p><br>
      <p>"John Doe"<br>

        'John Doe'</p>
    </div>
  </div>
</section>


{% endblock content %}